@charset "UTF-8";
/* general style*/
* {
  box-sizing: border-box; }

body {
  font: 16px 'LatoWeb', sans-serif;
  width: 100%;
  background: #ffffff;
  color: #000;
  height: 100%; }

button, input {
  outline: none; }

a {
  text-decoration: none;
  color: #201600;
  outline: none; }

a:hover {
  text-decoration: none; }

p {
  margin: 0 0 10px; }

img {
  outline: none; }

.cf::after {
  content: "";
  display: table;
  clear: both; }

.wrap {
  max-width: 1320px;
  position: relative;
  padding-left: 3.5%;
  padding-right: 3.5%;
  margin: 0 auto; }

li {
  list-style: none; }

ul {
  list-style: none;
  /*╤Г╨▒╨╕╤А╨░╨╡╨╝ ╨╝╨░╤А╨║╨╡╤А╤Л ╤Б╨┐╨╕╤Б╨║╨░*/
  margin: 0;
  /*╤Г╨▒╨╕╤А╨░╨╡╨╝ ╨▓╨╡╤А╤Е╨╜╨╡╨╡ ╨╕ ╨╜╨╕╨╢╨╜╨╡╨╡ ╨┐╨╛╨╗╨╡, ╤А╨░╨▓╨╜╨╛╨╡ 1em*/
  overflow: hidden;
  padding-left: 0;
  /*╤Г╨▒╨╕╤А╨░╨╡╨╝ ╨╗╨╡╨▓╤Л╨╣ ╨╛╤В╤Б╤В╤Г╨┐, ╤А╨░╨▓╨╜╤Л╨╣ 40px*/ }

.header-wr {
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .header-wr .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 4px solid #ee3124;
    min-height: 90px; }
    .header-wr .header .nav ul {
      display: inline-block;
      vertical-align: middle; }
    .header-wr .header .nav li {
      display: inline-block;
      padding-right: 16px; }
      .header-wr .header .nav li a {
        font-family: 'LatoWebBold';
        font-size: 15px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase; }
    .header-wr .header .nav .form {
      display: inline-block;
      position: relative;
      width: 258px;
      display: inline-block;
      position: relative;
      border: 2px solid #dddfe0;
      background-color: #ffffff;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .header-wr .header .nav .form ::-webkit-input-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr .header .nav .form ::-moz-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr .header .nav .form :-moz-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr .header .nav .form :-ms-input-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr .header .nav .form input[type="text"] {
        padding-left: 15px;
        width: 210px;
        height: 54px;
        border: 0; }
      .header-wr .header .nav .form button[type="submit"] {
        height: 30px;
        width: 40px;
        position: absolute;
        border: none;
        top: 13px;
        right: 5px;
        background-color: transparent;
        cursor: pointer; }
      .header-wr .header .nav .form button:before {
        content: "\e914";
        font-family: 'icomoon';
        color: black;
        font-size: 26px;
        vertical-align: middle;
        background-color: transparent; }
    .header-wr .header .header__right .icon-Phone {
      color: #d23546;
      font-size: 25px;
      padding-right: 10px;
      vertical-align: middle; }
    .header-wr .header .header__right .phone__number {
      font-family: 'LatoWebBold';
      font-size: 25px;
      font-weight: 700;
      line-height: 41px;
      text-transform: uppercase;
      vertical-align: middle; }
    .header-wr .header .header__right .phone-btn {
      float: right; }
      .header-wr .header .header__right .phone-btn a {
        color: #ffffff;
        background-color: #7cc576;
        padding: 7px 12px 7px 12px;
        border-radius: 3px;
        font-family: 'LatoWebBold';
        font-size: 11px;
        font-weight: 700;
        line-height: 20.1px;
        text-transform: uppercase;
        /* Text style for "╨Т, ╨Р╨Ь ╨Я╨Х╨а╨Х" */
        letter-spacing: 2.04px; }
  .header-wr .menu-link {
    display: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: relative;
    top: -2px;
    right: 2%; }
    .header-wr .menu-link span, .header-wr .menu-link span:before, .header-wr .menu-link span:after {
      display: block;
      height: 2px;
      width: 30px;
      position: absolute;
      right: 50%;
      margin-right: -15px;
      top: 50%;
      margin-top: -1px;
      background-color: #000; }
    .header-wr .menu-link span:before {
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      content: '';
      margin-top: -9px; }
    .header-wr .menu-link span:after {
      -webkit-transition: all 0.2;
      transition: all 0.2;
      content: "";
      margin-top: 7px;
      width: 20px; }

.header-wr_sticky {
  background-color: #ad2640;
  width: 100%;
  height: 45px;
  z-index: 99;
  -webkit-transition: 0.4s top ease-in;
  transition: 0.4s top ease-in;
  position: fixed; }
  .header-wr_sticky .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0px 5px 0px; }
    .header-wr_sticky .header .header__left img {
      display: none; }
    .header-wr_sticky .header .nav ul {
      display: inline-block;
      vertical-align: middle; }
    .header-wr_sticky .header .nav li {
      display: inline-block;
      padding-right: 16px; }
      .header-wr_sticky .header .nav li a {
        color: #fff;
        font-family: 'LatoWebBold';
        font-size: 15px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase; }
    .header-wr_sticky .header .nav .form {
      display: inline-block;
      position: relative;
      width: 244px;
      background-color: #ffffff;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .header-wr_sticky .header .nav .form ::-webkit-input-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr_sticky .header .nav .form ::-moz-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr_sticky .header .nav .form :-moz-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr_sticky .header .nav .form :-ms-input-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr_sticky .header .nav .form input[type="text"] {
        padding-left: 15px;
        width: 206px;
        height: 34px;
        border: none;
        background-color: #ffffff; }
      .header-wr_sticky .header .nav .form button[type="submit"] {
        height: 20px;
        width: 20px;
        position: absolute;
        border: none;
        top: 3px;
        right: 20px;
        background-color: transparent;
        cursor: pointer; }
      .header-wr_sticky .header .nav .form button:before {
        content: "\e914";
        font-family: 'icomoon';
        color: black;
        font-size: 26px;
        vertical-align: middle;
        background-color: transparent; }
    .header-wr_sticky .header .header__right .icon-Phone {
      color: #fff;
      font-size: 24px;
      padding-right: 10px;
      vertical-align: middle; }
    .header-wr_sticky .header .header__right .phone-link {
      display: inline-block;
      vertical-align: middle; }
    .header-wr_sticky .header .header__right .phone__number {
      color: #fff;
      vertical-align: middle;
      font-family: 'LatoWebBold';
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase; }
    .header-wr_sticky .header .phone-btn {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px; }
      .header-wr_sticky .header .phone-btn a {
        color: #ffffff;
        background-color: #7fc477;
        padding: 7px 12px 7px 12px;
        border-radius: 3px;
        font-family: 'LatoWebBold';
        font-size: 11px;
        font-weight: 700;
        vertical-align: middle;
        line-height: 20.1px;
        text-transform: uppercase;
        /* Text style for "╨Т, ╨Р╨Ь ╨Я╨Х╨а╨Х" */
        letter-spacing: 2.04px; }

.company {
  padding-top: 20px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .company .company__info {
    width: 75%;
    padding-right: 20px; }
    .company .company__info h1 {
      color: #000000;
      font-size: 29px;
      font-weight: 400; }
    .company .company__info .info_text {
      font-size: 16px;
      font-weight: 400; }
  .company .company__advant {
    width: 300px;
    max-height: 900px;
    background-color: #ebebeb;
    border-radius: 7px;
    text-align: center;
    padding: 0 20px 0 20px;
    margin-top: 20px; }
    .company .company__advant h2 {
      word-wrap: break-word;
      color: #000000;
      font-size: 27px;
      font-weight: 400;
      padding-bottom: 30px; }
    .company .company__advant .advant__item .img {
      margin: 0 auto; }
    .company .company__advant p {
      font-size: 16px;
      font-weight: 400;
      padding-top: 20px;
      padding-bottom: 20px; }
    .company .company__advant .advant__icons {
      display: inline-block;
      margin-bottom: 20px; }
      .company .company__advant .advant__icons img:nth-child(1) {
        vertical-align: middle;
        padding-right: 26px; }
      .company .company__advant .advant__icons img:nth-child(2) {
        vertical-align: middle;
        padding-right: 40px; }
      .company .company__advant .advant__icons img:nth-child(3) {
        vertical-align: middle; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 270px;
  padding-bottom: 20px; }
  .contact .contact__info {
    width: 50%;
    background-color: #a81d36;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px 0px 0px 5px;
    padding-left: 35px; }
    .contact .contact__info .info-text {
      max-width: 300px;
      margin-left: 30px;
      padding-top: 40px;
      padding-bottom: 40px;
      color: #ffffff;
      font-family: 'LatoWeb';
      font-size: 16px;
      font-weight: 400;
      line-height: 23px; }
      .contact .contact__info .info-text h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 3px; }
      .contact .contact__info .info-text span {
        display: block;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 700; }
  .contact .contact__form {
    width: 50%;
    text-align: center;
    font-family: 'LatoWeb';
    font-size: 18px;
    font-weight: 400;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #d5d5d5;
    padding-bottom: 16px; }
    .contact .contact__form h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 0; }
    .contact .contact__form span {
      display: block;
      text-transform: uppercase;
      padding-top: 5px;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px; }
    .contact .contact__form .contact__input {
      width: 316px;
      height: 54px;
      border: 2px solid #dddfe0;
      background-color: #ffffff; }
    .contact .contact__form .contact__btn {
      display: block;
      margin: 0 auto;
      width: 271px;
      height: 54px;
      border: none;
      margin-top: 20px;
      border-radius: 3px;
      background-color: #7cc576;
      font-family: 'LatoWeb';
      font-size: 17px;
      font-weight: 700;
      line-height: 41px;
      text-transform: uppercase;
      letter-spacing: 3.4px; }
/*# sourceMappingURL=main.css.map */