@charset "UTF-8";
/* general style*/
* {
  box-sizing: border-box; }

body {
  font: 16px 'LatoWeb', sans-serif;
  width: 100%;
  background: #ffffff;
  color: #000;
  height: 100%; }

button, input {
  outline: none; }

a {
  text-decoration: none;
  color: #201600;
  outline: none; }

a:hover {
  text-decoration: none; }

p {
  margin: 0 0 10px; }

img {
  outline: none; }

.cf::after {
  content: "";
  display: table;
  clear: both; }

.header-wr {
  opacity: 0;
  z-index: 2; }

li {
  list-style: none; }

ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  }

.logo-m {
  display: none; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px solid #ee3124;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .header__nav {
    text-align: center; }
    .header__nav li {
      display: inline-block;
      padding-right: 10px; }
      .header__nav li a {
        font-family: 'LatoWebBold';
        font-size: 15px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase; }
      .header__nav li .search {
        width: 258px;
        background-color: #FFF;
        border: 2px solid #dddfe0;
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        /* Firefox 19+ */
        /* Firefox 18- */ }
        .header__nav li .search ::-webkit-input-placeholder {
          color: #000000;
          text-transform: uppercase; }
        .header__nav li .search ::-moz-placeholder {
          color: #000000;
          text-transform: uppercase; }
        .header__nav li .search :-moz-placeholder {
          color: #000000;
          text-transform: uppercase; }
        .header__nav li .search :-ms-input-placeholder {
          color: #000000;
          text-transform: uppercase; }
        .header__nav li .search ::-webkit-input-placeholder {
          text-indent: 0px;
          -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .header__nav li .search ::-moz-placeholder {
          text-indent: 0px;
          -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .header__nav li .search :-moz-placeholder {
          text-indent: 0px;
          -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .header__nav li .search :-ms-input-placeholder {
          text-indent: 0px;
          -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .header__nav li .search :focus::-webkit-input-placeholder {
          text-indent: 500px;
          -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .header__nav li .search :focus::-moz-placeholder {
          text-indent: 500px;
          -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .header__nav li .search :focus:-moz-placeholder {
          text-indent: 500px;
          -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .header__nav li .search :focus:-ms-input-placeholder {
          text-indent: 500px;
          -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease; }
        .header__nav li .search .search__input {
          -webkit-transition: 0.5s;
          transition: 0.5s;
          padding-left: 10px;
          border: 0;
          width: auto;
          height: 54px;
          outline: none;
          vertical-align: middle;
          font-family: 'LatoWebBold';
          font-size: 15px;
          font-weight: 700;
          line-height: 23px; }
        .header__nav li .search .search__btn {
          width: 20px;
          height: 20px;
          vertical-align: middle;
          border: none;
          background: url("../img/serach.png") no-repeat 50% 50%;
          /* ╨Я╨░╤А╨░╨╝╨╡╤В╤А╤Л ╤Д╨╛╨╜╨░ */ }
  .header .menu-link {
    display: none;
    height: 50px;
    width: 20px;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: -1px;
    float: right; }
    .header .menu-link span, .header .menu-link span:before, .header .menu-link span:after {
      display: block;
      height: 2px;
      width: 30px;
      position: absolute;
      right: 50%;
      margin-right: -15px;
      top: 50%;
      margin-top: -1px;
      background-color: #000; }
    .header .menu-link span:before {
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      content: '';
      margin-top: -9px; }
    .header .menu-link span:after {
      -webkit-transition: all 0.2;
      transition: all 0.2;
      content: "";
      margin-top: 7px;
      width: 20px; }
    .header .menu-link__active span {
      background-color: transparent; }
      .header .menu-link__active span:before {
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
        margin-top: 0; }
      .header .menu-link__active span:after {
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
        margin-top: 0;
        width: 30px; }
  .header__call {
    text-align: right; }
    .header__call .call__number {
      color: #000000;
      font-family: 'LatoWebBold';
      font-size: 23px;
      font-weight: 700;
      line-height: 41px;
      text-transform: uppercase; }
    .header__call .icon-mobile {
      color: #d23546;
      font-size: 23px;
      padding-right: 10px; }
    .header__call .call__btn a {
      padding: 9px 9px 9px 9px;
      background-color: #7cc576;
      border-radius: 3px;
      color: #ffffff;
      font-family: 'LatoWebBold';
      font-size: 9px;
      font-weight: 700;
      line-height: 20.1px;
      text-transform: uppercase;
      letter-spacing: 2.04px; }

.headhesive {
  background-color: #fff;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 1;
  opacity: 1; }

.headhesive--stick {
  background-color: #ac2a42; }
  .headhesive--stick .header {
    border-bottom: 0;
    z-index: 1; }
    .headhesive--stick .header__logo img {
      display: none; }
    .headhesive--stick .header__logo .logo-m {
      display: block; }
      .headhesive--stick .header__logo .logo-m a {
        width: 40px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'LatoWebBold';
        font-size: 25px;
        border-bottom: 2px solid #e094d2; }
  .headhesive--stick .header__nav li .search {
    width: auto;
    border: 2px solid rgba(195, 115, 185, 0);
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .headhesive--stick .header__nav li .search ::-webkit-input-placeholder {
      color: #525659;
      text-transform: uppercase; }
    .headhesive--stick .header__nav li .search ::-moz-placeholder {
      color: #525659;
      text-transform: uppercase; }
    .headhesive--stick .header__nav li .search :-moz-placeholder {
      color: #525659;
      text-transform: uppercase; }
    .headhesive--stick .header__nav li .search :-ms-input-placeholder {
      color: #525659;
      text-transform: uppercase; }
  .headhesive--stick .search__input {
    height: 20px !important; }
  .headhesive--stick .header__nav li a {
    color: #fff !important; }
  .headhesive--stick .header__nav {
    text-align: left; }
  .headhesive--stick .call__btn {
    display: none; }
  .headhesive--stick .call__number {
    color: #fff; }
  .headhesive--stick .icon-mobile {
    color: #fff; }
  .headhesive--stick .header {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 5px;
    padding-bottom: 5px; }

.company {
  padding-top: 30px; }
  .company .company__info {
    padding-right: 50px; }
    .company .company__info h2 {
      color: #000000;
      font-size: 29px;
      font-weight: 400; }
    .company .company__info .info_text {
      font-size: 16px;
      font-weight: 400; }
  .company .company__advant {
    margin-top: 34px;
    background-color: #ebebeb;
    border-radius: 7px;
    text-align: center;
    padding: 0 20px 0 20px; }
    .company .company__advant h2 {
      word-wrap: break-word;
      color: #000000;
      font-size: 27px;
      font-weight: 400;
      padding-bottom: 30px; }
    .company .company__advant .advant__item .img {
      margin: 0 auto; }
    .company .company__advant p {
      font-size: 16px;
      font-weight: 400;
      padding-top: 20px;
      padding-bottom: 20px; }
    .company .company__advant .advant__icons {
      display: inline-block;
      margin-bottom: 20px; }
      .company .company__advant .advant__icons img:nth-child(1) {
        vertical-align: middle;
        padding-right: 26px; }
      .company .company__advant .advant__icons img:nth-child(2) {
        vertical-align: middle;
        padding-right: 40px; }
      .company .company__advant .advant__icons img:nth-child(3) {
        vertical-align: middle; }

.contact {
  padding-top: 30px;
  padding-bottom: 20px; }
  .contact .contact__person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #a81d36;
    border-radius: 5px  0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contact .person__img {
    width: 169px;
    height: 169px;
    background: url("../img/person.png") center top no-repeat;
    border-radius: 50%;
    width: 40%; }
  .contact .person__info {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    font-family: 'LatoWeb';
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    width: 50%; }
    .contact .person__info h3 {
      font-size: 24px;
      font-weight: 700; }
    .contact .person__info span {
      font-size: 18px;
      font-weight: 700; }
  .contact .contact__form {
    text-align: center;
    font-family: 'LatoWeb';
    font-size: 18px;
    font-weight: 400;
    border-radius: 0px 5px;
    border: 1px solid #d5d5d5;
    padding-bottom: 16px; }
    .contact .contact__form h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 0; }
    .contact .contact__form span {
      display: block;
      padding-top: 5px;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px; }
    .contact .contact__form .contact__input {
      width: 316px;
      height: 54px;
      border: 2px solid #dddfe0;
      background-color: #ffffff; }
    .contact .contact__form .contact__btn {
      width: 271px;
      height: 54px;
      border: none;
      margin-top: 20px;
      border-radius: 3px;
      background-color: #7cc576;
      font-family: 'LatoWeb';
      font-size: 17px;
      font-weight: 700;
      line-height: 41px;
      text-transform: uppercase;
      /* Text style for "╨Я, ╨╡╤А╨╡╨╖╨▓╨╛╨╜" */
      letter-spacing: 3.4px; }

.maps__min {
  background-color: #e8e8e8;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .maps__min img {
    padding-left: 40px;
    padding-right: 15px;
    float: left; }
  .maps__min .min__info {
    color: #000000;
    font-family: 'LatoWeb';
    font-size: 18px;
    font-weight: 400;
    width: 70%; }
    .maps__min .min__info h3 {
      margin: 0;
      font-size: 26px;
      font-weight: 700;
      position: relative; }
  .maps__min .maps__btn {
    border: 0;
    width: 218px;
    margin-right: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'LatoWebBold';
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.4px; }

.maps__full {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  padding-bottom: 35%;
  position: relative;
  display: none;
  height: 0; }

.maps__full iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

footer {
  min-height: 210px;
  margin-bottom: 50px;
  margin-top: 30px; }
  footer .nav__block {
    padding-top: 30px;
    border-top: 1px solid #acacac;
    padding-bottom: 30px; }
  footer .footer__mobile {
    color: #767676;
    font-family: "LatoWeb";
    font-size: 21px;
    font-weight: 700;
    line-height: 21px; }
  footer li {
    padding-top: 10px; }
  footer ul {
    max-width: 230px; }
  footer a {
    color: #767676;
    font-family: 'LatoWeb';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; }
  footer span {
    color: #b64155;
    font-size: 17px;
    vertical-align: middle; }
  footer .nav__1, footer .nav__2, footer .nav__3, footer .nav__4, footer .nav__5 {
    background-color: #fff; }

.icon-clock {
  padding-right: 5px; }

/*# sourceMappingURL=main.css.map */