@charset "UTF-8";
/* general style*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 16px 'LatoWeb', sans-serif;
  width: 100%;
  background: #ffffff;
  color: #000;
  height: 100%; }

button, input {
  outline: none; }

a {
  text-decoration: none;
  color: #201600;
  outline: none; }

a:hover {
  text-decoration: none; }

p {
  margin: 0 0 10px; }

img {
  outline: none; }

.cf::after {
  content: "";
  display: table;
  clear: both; }

.wrap {
  max-width: 1320px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

li {
  list-style: none; }

ul {
  list-style: none;
  /*╤Г╨▒╨╕╤А╨░╨╡╨╝ ╨╝╨░╤А╨║╨╡╤А╤Л ╤Б╨┐╨╕╤Б╨║╨░*/
  margin: 0;
  /*╤Г╨▒╨╕╤А╨░╨╡╨╝ ╨▓╨╡╤А╤Е╨╜╨╡╨╡ ╨╕ ╨╜╨╕╨╢╨╜╨╡╨╡ ╨┐╨╛╨╗╨╡, ╤А╨░╨▓╨╜╨╛╨╡ 1em*/
  overflow: hidden;
  padding-left: 0;
  /*╤Г╨▒╨╕╤А╨░╨╡╨╝ ╨╗╨╡╨▓╤Л╨╣ ╨╛╤В╤Б╤В╤Г╨┐, ╤А╨░╨▓╨╜╤Л╨╣ 40px*/ }

.header-wr {
  background-color: #fff; }
  .header-wr .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #ee3124;
    min-height: 90px; }
    .header-wr .header .nav {
      display: inline-block; }
      .header-wr .header .nav ul {
        display: inline-block;
        vertical-align: middle; }
      .header-wr .header .nav li {
        display: inline-block;
        padding-right: 16px; }
        .header-wr .header .nav li a {
          font-family: 'LatoWebBold';
          font-size: 15px;
          font-weight: 700;
          line-height: 23px;
          text-transform: uppercase; }
    .header-wr .header .header__form {
      display: inline-block;
      position: relative;
      width: 258px;
      display: inline-block;
      position: relative;
      border: 2px solid #dddfe0;
      background-color: #ffffff;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .header-wr .header .header__form ::-webkit-input-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr .header .header__form ::-moz-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr .header .header__form :-moz-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr .header .header__form :-ms-input-placeholder {
        font-family: 'LatoWebBold';
        vertical-align: middle;
        line-height: 23px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #737373; }
      .header-wr .header .header__form .header__input {
        padding-left: 10px;
        width: 79%;
        height: 54px;
        border: 0; }
      .header-wr .header .header__form .header__search-btn {
        height: 54px;
        width: 54px;
        right: -1px;
        position: absolute;
        border: none;
        background-color: transparent;
        cursor: pointer; }
      .header-wr .header .header__form .header__search-btn:before {
        content: "\e914";
        font-family: 'icomoon';
        color: black;
        font-size: 26px;
        vertical-align: middle;
        background-color: transparent; }
    .header-wr .header .header__right {
      text-align: right; }
      .header-wr .header .header__right .phone-link {
        display: block; }
      .header-wr .header .header__right .icon-phone {
        color: #d23546;
        font-size: 25px;
        padding-right: 10px;
        vertical-align: middle; }
      .header-wr .header .header__right .number-phone {
        font-family: 'LatoWebBold';
        font-size: 25px;
        font-weight: 700;
        line-height: 41px;
        text-transform: uppercase;
        vertical-align: middle; }
      .header-wr .header .header__right .phone-btn {
        color: #ffffff;
        background-color: #7cc576;
        padding: 7px 12px 7px 12px;
        border-radius: 3px;
        font-family: 'LatoWebBold';
        font-size: 11px;
        font-weight: 700;
        line-height: 20.1px;
        text-transform: uppercase;
        /* Text style for "╨Т, ╨Р╨Ь ╨Я╨Х╨а╨Х" */
        letter-spacing: 2.04px;
        transition: 0.2s; }
        .header-wr .header .header__right .phone-btn:hover {
          background-color: #32bc5d; }
  .header-wr .menu-link {
    display: none;
    width: 50px;
    height: 37px;
    top: 3px;
    margin-right: -9px;
    background-color: transparent;
    position: relative;
    border: none; }
    .header-wr .menu-link span, .header-wr .menu-link span:before, .header-wr .menu-link span:after {
      display: block;
      height: 2px;
      width: 30px;
      position: absolute;
      right: 50%;
      margin-right: -15px;
      top: 50%;
      background-color: #000; }
    .header-wr .menu-link span:before {
      transition: all 0.2s;
      content: '';
      margin-top: -9px; }
    .header-wr .menu-link span:after {
      transition: all 0.2;
      content: "";
      margin-top: 7px;
      width: 20px; }

.mobile-menu .m-ul {
  padding-left: 10px; }
  .mobile-menu .m-ul li a {
    font-family: 'LatoWebBold';
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase; }
.mobile-menu .menu-form {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  width: 229px;
  display: inline-block;
  position: relative;
  border-bottom: 2px solid #000;
  background-color: #ffffff;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .mobile-menu .menu-form ::-webkit-input-placeholder {
    font-family: 'LatoWebBold';
    vertical-align: middle;
    line-height: 23px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #737373; }
  .mobile-menu .menu-form ::-moz-placeholder {
    font-family: 'LatoWebBold';
    vertical-align: middle;
    line-height: 23px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #737373; }
  .mobile-menu .menu-form :-moz-placeholder {
    font-family: 'LatoWebBold';
    vertical-align: middle;
    line-height: 23px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #737373; }
  .mobile-menu .menu-form :-ms-input-placeholder {
    font-family: 'LatoWebBold';
    vertical-align: middle;
    line-height: 23px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #737373; }
  .mobile-menu .menu-form .m__input {
    padding-left: 10px;
    width: 84%;
    height: 35px;
    border: 0; }
  .mobile-menu .menu-form .m__search-btn {
    height: 35px;
    width: 35px;
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer; }
  .mobile-menu .menu-form .m__search-btn:before {
    content: "\e914";
    font-family: 'icomoon';
    color: black;
    font-size: 26px;
    vertical-align: middle;
    background-color: transparent; }
.mobile-menu .m-info {
  padding-left: 4px; }
  .mobile-menu .m-info .m-number {
    color: #000;
    font-family: "LatoWeb";
    font-size: 20px;
    font-weight: 700;
    line-height: 21px; }
  .mobile-menu .m-info .icon-phone {
    font-size: 25px; }
  .mobile-menu .m-info .icon-clock {
    font-size: 19px;
    padding-left: 4px; }
  .mobile-menu .m-info .icon-gps {
    font-size: 25px;
    padding-left: 4px; }
  .mobile-menu .m-info .icon-e-mail {
    font-size: 25px;
    padding-left: 4px; }
  .mobile-menu .m-info li {
    padding-top: 10px;
    padding-left: 5px; }
  .mobile-menu .m-info ul {
    max-width: 230px; }
  .mobile-menu .m-info a {
    color: #000;
    font-family: 'LatoWeb';
    font-size: 16px;
    font-weight: 400;
    line-height: 21px; }
  .mobile-menu .m-info span {
    color: #b64155;
    font-size: 17px;
    vertical-align: middle; }

.mobile-menu {
  display: none; }

@media only screen and (max-width: 767px) {
  .m-menu {
    background-color: #eee; }

  .mobile-menu {
    display: block; }

  html.slideout-open .fixed-open-right #header__left.menu-link span {
    background: none; }

  html.slideout-open .fixed-open-right #header__left.menu-link span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

  html.slideout-open .fixed-open-right #header__left.menu-link span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

  html.slideout-open .fixed-open-right #header__left.menu-link span::before,
  html.slideout-open .fixed-open-right #header__left.menu-link span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s; }

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden; }

  .slideout-open .slideout-menu {
    display: block; }

  .fixed {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: 2;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease; }

  .fixed.fixed-open-right {
    -webkit-transform: translate3d(-256px, 0px, 0px);
    transform: translate3d(-256px, 0px, 0px); } }

/*# sourceMappingURL=main.css.map */
