/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .header-wr_sticky .header .nav .header__form{    display: inline-block; position: relative; width: 244px; background-color: #ffffff;} 
}

@media only screen and (max-width : 1024px) {
 .header-wr_sticky{display: none;} 
 .header  .header__form{display: block!important;}  .header .nav li:nth-child(2){padding-right: 0px!important;}
 .header__form {width: auto!important;}
 .phone__number{line-height: 38px!important;}
 .header-wr .header .header__form .header__search-btn{width: 43px!important;}



}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
 .number-phone{font-size: 23px!important;}
 .contact{flex-wrap: wrap;} .contact__info{width: 100%!important; justify-content: center;border-radius: 5px 5px 0px 0px!important;} .info-text{max-width: none!important;}
 .contact__form{width: 100%!important; border-radius: 0px 0px 5px 5px!important;} .contact__btn{display: initial!important;}
    .header-wr .header .header__form .header__input{height: 35px!important; width: 81%!important;}
     .header-wr .header .header__form .header__search-btn{height: 35px!important; width: 41px!important;}
}


@media only screen and (max-width : 960px) { 
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
 .header{display:block!important;} .nav{display: none!important;} .menu-link{display: block!important;}  
 .phone-btn{float: none!important;} .menu-link{float: right;} .header{padding-top: 15px; padding-bottom: 15px;}
 .header  .header__form{display: none!important;}
 .company{flex-wrap:wrap;} .company__info{width: 100%!important;}  .company__advant{width: 100%!important;}  .company__advant p {max-width: 300px!important; margin: 0 auto;} 
   .header__right{text-align: left!important;}

   body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.contact__info{flex-wrap:wrap; } .info-text{padding-bottom: 20px!important;margin-left: 0px!important;padding-top:15px!important; padding-left:5px; padding-right: 5px;} .contact__info{padding-left: 0px!important; text-align: center;} .contact__info img{padding-top: 20px;}
 .number-phone{font-size: 21px!important;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
 .info-text h2{margin: 10px!important;} .contact__input{width: 260px!important;}
  .company__advant{height: 770px!important;}
  .header__right{text-align: left!important;}

