*{
  box-sizing:border-box;
}
html {
  font-size: 100%;
}

button,input{
 outline:none;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height:auto;
}
.color-green { 
  color:  #19bd9a;
font-weight: 700;
letter-spacing: 0.8px;
}

.text-strong {
  color: #ffffff;
font-family: "OpenSans";
font-size: 20px;
/* Text style for "accusamus" */
font-weight: 700;
letter-spacing: 0.8px;
}

.h2 {
        color: #333b46;
        font-family: "SourceSansPro";
        font-size: 20px;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
      }

      




















img {
  outline: none;
}



li{
  list-style: none;
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
