<div class="prices-page">
    <main class="prices-content">


        <div class="container">

            <h2 class="prices_title">Monthly Agent Pricing</h2>


            <div class="prices_table">
                <!-- Prices Captions -->

                <div class="prices_table-captions">

                    <div class="prices_table-captions_top">

                    </div>

                    <div class="prices_table-captions_item">Home Value Requests</div>


                    <div class="prices_table-captions_item">Basic Profile</div>



                    <div class="prices_table-captions_item">Expanded Profile</div>


                    <div class="prices_table-captions_item">Personal Home<br>Value Website</div>


                    <div class="prices_table-captions_item">Homeowner Messaging</div>


                    <div class="prices_table-captions_item">$500 Monthly<br>automated marketing</div>


                    <div class="prices_table-captions_item">"List Now" enabled</div>


                    <div class="prices_table-captions_item">Video Interview</div>

                    <div class="prices_table-captions_item">Paid Cloud CMA<br>account</div>


                </div>

                <!-- END Prices Captions -->
                <!-- Prices Items -->
                <div class="prices_table-items">


                    <!-- Premium -->
                    <div class="prices_table-item">

                        <div class="prices_table-item_head">

                            <h3 class="prices_table-item_title">Premium</h3>

                            <p class="prices_table-item_price">$99<span>/MO</span></p>

                        </div>

                        <div class="prices-table-item_point">

                            <p class="prices-table-item_point-txt">Home Value Requests</p>

                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Basic Profile</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Expanded Profile</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Personal Home Value Website</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Homeowner Messaging</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">$500 Monthly automated marketing</p>
                            <span class="pe-7s-close-circle"></span>
                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">"List Now" enabled</p>
                            <span class="pe-7s-close-circle"></span>
                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Video Interview</p>
                            <span class="pe-7s-close-circle"></span>
                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Paid Cloud CMA account</p>
                            <span class="pe-7s-close-circle"></span>
                        </div>

                        <div class="prices-table-item_btn">

                            <!--<a href="#" class="btn disabled">Coming Soon</a>-->

                            <a href="/signup?back=pricing" class="btn free" ng-if="!isUserLogged">Sign up now</a>
                            <a href="#" class="btn free" ng-if="isUserLogged" ng-click="setPurchaseTarget('premium')">Upgrade</a>

                        </div>

                    </div>
                    <!-- END Premium -->
                    <!-- Premium -->
                    <div class="prices_table-item">

                        <div class="prices_table-item_head">

                            <h3 class="prices_table-item_title">Elite</h3>

                            <p class="prices_table-item_price">$999<span>/MO</span></p>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Home Value Requests</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Basic Profile</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Expanded Profile</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Personal Home Value Website</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Homeowner Messaging</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">$500 Monthly automated marketing</p>
                            <span class="pe-7s-check"></span>
                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">"List Now" enabled</p>
                            <span class="pe-7s-check"></span>
                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Video Interview</p>
                            <span class="pe-7s-check"></span>
                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Paid Cloud CMA account</p>
                            <span class="pe-7s-check"></span>
                        </div>

                        <div class="prices-table-item_btn">

                            <a href="#" class="btn disabled">Coming soon</a>

                        </div>

                    </div>
                    <!-- END Premium -->
                    <!-- Premium -->
                    <div class="prices_table-item">

                        <div class="prices_table-item_head">

                            <h3 class="prices_table-item_title">Free</h3>

                            <p class="prices_table-item_price">Free</p>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Home Value Requests</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Basic Profile</p>
                            <span class="pe-7s-check"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Expanded Profile</p>
                            <span class="pe-7s-close-circle"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Personal Home Value Website</p>
                            <span class="pe-7s-close-circle"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Homeowner Messaging</p>
                            <span class="pe-7s-close-circle"></span>

                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">$500 Monthly automated marketing</p>
                            <span class="pe-7s-close-circle"></span>
                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">"List Now" enabled</p>
                            <span class="pe-7s-close-circle"></span>
                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Video Interview</p>
                            <span class="pe-7s-close-circle"></span>
                        </div>

                        <div class="prices-table-item_point">
                            <p class="prices-table-item_point-txt">Paid Cloud CMA account</p>
                            <span class="pe-7s-close-circle"></span>
                        </div>

                        <div class="prices-table-item_btn">

                            <a href="/signup" class="btn free">Sign up now</a>

                        </div>

                    </div>
                    <!-- END Premium -->

                </div>
                <!-- END Prices Items -->


            </div>

            <div class="purchase-card" ng-show="purchaseTarget">
                <form action="/purchase/checkout" method="post">
                    <braintree-dropin options="{onPaymentMethodReceived: onPaymentMethodReceived, onTokenReceived: onTokenReceived, onReady: onBraintreeReady}"></braintree-dropin>

                    <button type="submit" class="btn" ng-show="isReady">Buy {{purchaseTarget}}</button>

                </form>
            </div>
        </div>

    </main>
</div>