<div>
    <div class="control_container">
        <div class="bio_container">
            <div class="inner_bio">
                <div id="profile_Picture" style="display: block;background-color: #00acf2;width: 100px;height: 100px;float: left;margin-right: 40px;border: 1px solid #14427A;border-radius: 4px;"></div>
                <div>
                    <ul class="profile_ul" style="display:block;">
                        <li id="li_profile_F_Name" class="ng-binding" style="display:block;width:30%;float:left;">
                            {{FName}}
                        </li>
                        <li id="li_profile_L_Name" class="ng-binding" style="display:block;width:30%;float:left;">
                            {{LName}}
                        </li>
                        <li id="li_profile_Email" class="ng-binding" style="display:block;width:30%;">
                            {{Email}}
                        </li>

                    </ul>
                </div>
                <div class="is_agent_box" style="display: inherit;">
                    <ul class="profile_ul">
                        <li class="top_ul_banner">
                            <span class="banner_text">
                                Is Agent
                            </span>
                        </li>
                        <li id="li_profile_Service_Area" class="lu_agent_profile">
                            <span>Service Areas : </span>
                        </li>
                        <li id="li_profile_Company" class="lu_agent_profile">
                            <span>Company : </span>
                        </li>
                        <li id="li_profile_Type" class="lu_agent_profile">
                            <span>Profile : </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
