<div>
    <div class="" style="padding: 100px;">
        <div class="large_text">COMPLETE</div>
        Enter Email Address to receive your responses.
        <div class="addressBox">
            <input id="autocomplete" type="text" class="address ng-pristine ng-valid" ng-model="example.text" name="address_start" placeholder="Email Address" autocomplete="off">
        </div>
        <div class="SubmitBtn" style="top: -67px;">
            <a href="/finished/"><button type="button" class="btn-submit wider_submit_btn">Submit</button></a>
        </div>
    </div>
</div>