<!-- Last step popup -->
<div class="popup-body submit-review-popup submit-review-popup-progress" id="submitProgress">

    <div class="popup-window">
        <span class="pe-7s-close-circle close-popup" style="visibility:hidden"></span>
        <h3 class="popup_title">Please be patient</h3>

        <p class="popup_caption">Your request is being submitted</p>

        <div class="submit-progress">
            <span class="submit-progress_percentage" id="infoprogress"></span>
            <span class="submit-progress_line" id="nowprogress"></span>
            <span class="submit-progress_bg"></span>
        </div>

        <button class="btn" id="progress" style="visibility: hidden">Ok</button>

    </div>

</div>
<!-- Last step popup -->

<!-- Last step popup -->
<div class="popup-body last-step-popup" id="anonymousEstimateCreatedPopup">

    <div class="popup-window last-step-popup-window">
        <!--<span class="pe-7s-close-circle close-popup"></span>-->
        <h3 class="popup_title">Last Step</h3>

        <p class="popup_caption">Please enter the email address you would like the responses sent to</p>

        <div class="last-step-popup_field clearfix">
            <input type="email" placeholder="Your email address" ng-model="anonymousEmail" ui-keypress="{13:'AddEmail()'}"/>
            <button class="btn submit-last-step" ng-click="AddEmail()">Submit</button>
        </div>
    </div>
</div>
<!-- Last step popup -->

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-82308502-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Photo -->
<main class="db-content new-property-content">

    <div class="db_top-panel clearfix">
        <h2 class="db_title"><span class="pe-7s-camera"></span> Photos</h2>
    </div>


    <div class="dnd" id="dnd">

        <div class="drag-n-drop-field">

            <h3 class="dnd_title">
                Drag & Drop File
            </h3>

            <span class="dnd_caption">or select an option below</span>

            <div class="dnd_btns clearfix">

                <div class="clearfix">
                    <div class="dnd-upload dnd-upload-img">
                        <label>
                            <input type="file" accept="image/*" id="fileInput" multiple>
                            <span>Add image</span>
                        </label>
                    </div>

                    <!--<div class="dnd-upload dnd-upload-video">
                        <label>
                            <input type="file">
                            <span>Add video</span>
                        </label>
                    </div>-->
                </div>

                <!--
                <div class="dnd-link clearfix">
                    <input type="text" placeholder="Add photo url" ng-model="downloadUrl">
                    <span class="pe-7s-link"></span>
                    <button ng-click="LoadFromURL()"><span class="pe-7s-plus"></span></button>
                </div>
                    -->

                <span class="dnd_file-caption">Maximum Upload File Size: 10MB</span>

            </div>

        </div>


        <div class="dnd_photos clearfix">

            <div class="dnd_photo" ng-repeat="picture in pictures">
                <div class="dnd_photo-holder" style="background: url({{picture.dataUrl}}); background-size: cover;" ng-click="DeletePicture(picture)">
                </div>
                <span class="dnd_photo-caption">{{picture.type}}</span>
            </div>


        </div>
    </div>
</main>
<!-- END Photo -->
<!-- Notes -->
<main class="db-content new-property-content">

    <div class="db_top-panel clearfix">
        <h2 class="db_title"><span class="pe-7s-file"></span> Notes</h2>
    </div>

    <div class="db-notes">
        <textarea class="db-notes_field" placeholder="Anything that makes your property unique, or any repairs needed?" ng-model="notes"></textarea>
    </div>


</main>
<!-- END Notes -->
<!-- Review -->
<main class="db-content new-property-content">

    <div class="db_top-panel clearfix">
        <h2 class="db_title"><span class="pe-7s-check"></span> Review</h2>
    </div>

    <div class="db-review">

        <div class="confirm-card clearfix">

            <div class="confirm-card_map">
                <iframe ng-src="{{mapEmbedUrl}}" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="confirm-card_details">

                <h3 class="confirm-card_title">Address</h3>

                <span class="confirm-card_address">{{formattedAddress}}</span>

                <img ng-src="{{imageUrl}}">

            </div>

        </div>

        <button class="btn submit-property-btn" ng-click="CreateEstimate()" ng-disabled="isWorking">Submit</button>
        <a href="/" class="btn btn-light">Cancel</a>

    </div>




</main>
<!-- END Review -->


