/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header-wr .search-form .form-control{
		width: 15rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-wr .nav{
		display: none;
	}
	.header-wr .form-btn{
		display: inline-block;
	}

	.header-wr .search-form{
		display: none;
	}
	.search-form.open{
		position: absolute;
		left: 0px;
		top: 13px;
		width: calc(100% - 34px);
		z-index: 999;
		display: block;

	}
	.header-wr .search-form.open .form-search__body{
		width: 95%;
	}

	.header-wr .search-form.open .form-search__input, .form-control{
		width: 101%;
	}

	.header-wr .search-form.open .form-search__input input{
		width: 101%;
	}
	.header-wr .search-form.open .form-search__btn{
		position: absolute;
		right: 0;
	}

	.main-content .hubs-block{
		flex-direction: column;
	}
	.main-content .hubs-block__item{
		margin-bottom: 15px;
	}

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 890px) {
	.left-aside{
		display: none;
	}
	.main-content .mobile-filter{
		display: inline-block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header-rigth-links .nav-link:nth-child(2){
		display: none;
	}
	.header-wr .search-form.open .form-search__body{
		width: 93%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 580px) {
	.header-wr .search-form.open .form-search__body{
		width: 89%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header-wr .search-form.open .form-search__body{
		width: 88%;
	}
	.header-rigth-links .nav-link:nth-child(1){
		display: none!important;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.header-wr .search-form.open .form-search__body{
		width: 85%;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
