		<!-- Dashboard Content -->
<main class="db-content">
    <div class="db-review_isagent">
        <div class="db_top-panel clearfix">
            <h2 class="db_title"><span class="pe-7s-home"></span> Property details</h2>
        </div>

        <div class="db-review">

            <div class="db-review_card">
                <h3 class="db-review_title">Address</h3>
                <span class="db-review_info">{{estimate.Address}}, {{estimate.City}}, {{estimate.State}}, {{estimate.PostalCode}}</span>

                <h3 class="db-review_title">Photos</h3>

                <div class="db-review_photos db-review_gallery clearfix">

                    <a ng-href="{{photoDetails.URL}}" title="Kitchen" rel="group1" class="db-review_photo" ng-repeat="photoDetails in estimate.Pictures">
                        <div class="db-review_photo-holder">
                            <img src="{{photoDetails.URL}}" alt="">
                        </div>
                        <span class="db-review_photo-caption">{{photoDetails.Type}}</span>
                    </a>
                </div>

                <h3 class="db-review_title">Notes</h3>
                <span class="db-review_info">{{estimate.Notes}}</span>

            </div>

        </div>
    </div>

    <div class="db-review_agent">
        <div class="db_top-panel clearfix">
            <h2 class="db_title"><span class="pe-7s-cash"></span> Your Estimate</h2>
            <form class="db-review_agent-form">
                <input type="text" placeholder="Your Price" ng-model="agentPrice">
                <textarea placeholder="Message" ng-model="agentNotes"></textarea>
                <!--TODO: Remove this comment when we have all the pieces for cloud CMA-->
                <!--
                <div class="db-review_agent_cma-link">
                    <div class="db-review_agent_cma-link-tip">?</div>
                    <div class="db-review_agent_cma-link-popup">

                        <img src="img/cloudcma-logo.png" alt="Cloud CMA">

                        <p>Homeowner see estimate with Cloud CMA link before all other estimates. </p>

                        <a href="#">Click here to find out more</a>
                    </div>
                    <input type="text" placeholder="Cloud CMA link goes here">

                </div>
                -->

                <button class="btn" ng-click="SubmitResponse(agentPrice, agentNotes, responseId)">{{submitCaption}}</button>

            </form>
        </div>
    </div>


</main>
<!-- END Dashboard Content -->