    <!-- Sidebar -->
<aside class="db-sb" ng-controller="sidebarController">

    <span class="db-sb_toggle pe-7s-angle-up"></span>

    <nav class="db-sb_nav">

        <!--<a href="#" class="db-sb_nav-item"><span class="pe-7s-display2"></span> Dashboard</a>-->
        <a href="/dashboard/properties" class="db-sb_nav-item {{currentPage == 'properties' | sidebarSelected}}"><span class="pe-7s-home"></span>{{propertiesLabel}}</a>
        <a href="/dashboard/profile" class="db-sb_nav-item {{currentPage == 'profile' | sidebarSelected}}"><span class="pe-7s-user"></span> Profile</a>
        <!--<a href="#" class="db-sb_nav-item"><span class="pe-7s-mail"></span> Messages</a>-->
        <!--<a href="#" class="db-sb_nav-item"><span class="pe-7s-config"></span> Settings</a>-->
        <a href="#" class="db-sb_nav-item" ng-click="Logout()"><span class="pe-7s-power"></span> Logout</a>

    </nav>

</aside>
<!-- END Sidebar -->