
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



body {
  font: 16px 'LatoWeb', sans-serif;
  min-width: 320px;
  background: #ffffff;
  color: #000;
  height: 100%;
  line-height: 1.42857;
  margin: 0;
  background-color: #f0f0f0;
}

button,input {
  outline:none;
}


a {
  text-decoration: none;
  color: #201600;
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 10px;
}


img {
  outline: none;
}


.cf::after {
  content: "";
  display: table;
  clear: both;
}


li {
  list-style: none;
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  overflow: hidden;
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

.wrap {
  width: 1170px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-wr {
  background-color: #fff;
}

.header {
  min-height: 100px;
  background-color: #FFF;
  position: relative;
  display: flex;
  align-items:center;
  justify-content: space-between;
  .header__left {
    display: flex;
    align-items:center;
  }


  //nav-start
  
  .nav__item {
    display: inline-block;
    margin-left: 35px;

    &:hover > .submenu {
      display: block!important;
    }
  }
  
  .nav__link {
    color: #000000;
    font-family: 'LatoWeb';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

  }

  .dropdown-icon {
    vertical-align: middle;
    padding-left: 5px;
    cursor: pointer;
  }



  .submenu {
    display: none;
    margin-left: 5px;
    z-index: 2;
    min-width: 128px;
    height: auto;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 2px 7px rgba(80, 72, 68, 0.58);
    background-color: #ffffff;
    li {
      padding:5px 15px 5px 15px ;
      &:hover {
       background-color: #eee;
     }
     &:hover a {
       color: #000;
       font-family: 'LatoWebBold';
     }
   }

   a {
    color: #575757;
    font-family: 'LatoWebBold';
    font-size: 15px;
    font-weight: 400;
    display: block;
    line-height: 2;
    &:hover {
      color: #000;
    }
  }

}

  //search
  .header__search {
    padding-left: 30px;
    padding-right: 15px;
    max-width:200px;

  }
  .search-form{
    width: 43px;
    height: 40px;
    transition:.5s;
    &:hover {
     width: 400px;
   }
   &:hover input {
    padding-right: 15px;
   }
 }

 .icon-search {
  font-size: 20px;
  display: block;
  vertical-align: middle;
}

.search-form__input {
  max-width: 100%;
  height: 40px;
  display: block;
  font-size: 16px;
  padding-left:41px;

  border:1px solid  #e3e2e1;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  transition:.4s;

}

.search-btn {
  position: absolute;
  z-index: 5;
  border: none;
  display: block;
  width: 42px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  &::after {
    content: "\e90b";
    font-family: 'icomoon';
    color: #6e6e6e;
    font-size: 20px;
    vertical-align: middle;
    background-color: transparent;
  }
}

  .close-btn {
   width: 42px;
   cursor: pointer;
   height: 40px;
   vertical-align: middle;
   position: absolute;
   z-index: 5;
   background-color: #fff;
   background:url('../img/close.png') center no-repeat;
   border: none;
  }
  

}

//Sign-buttons
.sign-btn {
  font-family: 'LatoWeb';
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding:6px 36px;
  border-radius: 10px;
  border:none;
  border:1px solid #c11718;
  background-color:#c11718;
  cursor:pointer;
  transition:.4s;
  &:hover {
    background-color: #a51112;

  }
}

.post-btn {
  font-family: 'LatoWeb';
  color: #9bbc33;
  font-size: 14px;
  font-weight: 400;
  padding:6px 18px;
  border-radius: 10px;
  border:2px solid #9bbc33;
  background-color:#fff;
  cursor:pointer;
  transition:.4s;
  &:hover {
    background-color: #9bbc33;
    color: #fff;
  }
}

 //top-banner
 .top-banner {
  background: url('../img/header-bg.png') center top;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 170px;
  text-align: center;
  .sell-btn {
    color: #ffffff;
    font-family: 'LatoWeb';
    font-size: 22px;
    font-weight: 500;
    border:none;
    border-radius:10px;
    cursor: pointer;
    padding:10px 70px;
    background-color: #b6cd6a;
    text-transform: uppercase;
    margin-right: 10px;
    transition:.3s;
    &:hover {
      background-color: #a6bd58;
    }
  }

  .give-btn {
    color: #ffffff;
    font-family: 'LatoWeb';
    font-size: 22px;
    font-weight: 500;
    border:none;
    border-radius:10px;
    cursor: pointer;
    padding:10px 50px;
    background-color: #6a6a6a;
    text-transform: uppercase;
    transition:.3s;
    &:hover {
      background-color: #504e4e;
    }
  }

}




.content {
  background-color: #f0f0f0;
  padding-top: 30px;
}

.content__top {
  box-shadow: 0 2px 4px rgba(80, 72, 68, 0.18);
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  padding:20px;
  background-color: #ffffff;
  .filter {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  .filter__item { 
   display: flex;
   align-items: center;
 }

 .icon-location, .icon-cake, .icon-baby {
  font-size: 65px;

}
.icon-gender img {
  height: 70px;
  width: 70px;
  padding-right: 10px;
}

.filter__item-text {
  padding-top: 20px;

}

.sub-m {
  font-family: 'LatoWeb';
  color: #000;
  font-weight: normal;
  margin: 0;
  display: block;
  cursor: pointer;
  padding: 0;
  font-size: 22px;
  position: relative;

  &:hover > ul {
    display: block;
  }

  &:hover {
    color: #cc4040;
  }

  &:hover::after {
    transform: rotate(180deg);
    top: 35%!important;
  }

  &::after {
    content: "\ea50";
    font-family: 'icomoon';
    position: absolute;
    top: 5%;
    right: -24%;
    height: 20px;
    color: #8d8d8d;
    vertical-align: middle;
    font-size: 26px;
    transition:.3s;
  }
}


.text-span {
 display: block;
 font-family: 'LatoWeb';
 color: #292929;
 font-size: 16px;
 font-weight: 500;
}

.search-btn {
  padding:10px 27px;
  border:none;
  cursor:pointer;
  border-radius:5px;
  background-color: #cc404c;
  color: #ffffff;
  font-family: 'LatoWeb';
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  transition:.3s;
  &:hover {
    background-color:#b3333e;
  }
}
  //sub-menu 

  .filter__item-text {

   h3 {
    padding: 0;
    margin: 0;
  }

  ul {
    position: absolute;
    display: none;
    min-width: 300px;
    z-index: 99;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 16px rgba(80, 72, 68, 0.86);
    padding-bottom: 15px;
    transition:.4s;

    a {
      color: #000000;
      font-family: "LatoWeb";
      font-size: 19px;
      font-weight: 400;
      display: block;
      margin: 0;
      margin-bottom: -15px;
      border-radius: 5px;
      padding: 15px;
      vertical-align: middle;
      &:hover {
       background-color: #eee;
       color: #cc4040;
     }
   }
   li {

   }
   .mass {
    margin: 0;
    padding: 0;
    color: #a4a4a4;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    display: block;
  }

  .filter-sub-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
  }

}

}
}

//main-content
.content {
 padding-bottom: 20px;
}
.content__main {
  padding-top: 20px;

}

.product-block__item {
  width: 247px;
  height: auto;
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor:pointer;
  display: inline-block;
  position: relative;
  transition:.4s;
  &:hover {
    box-shadow:1px 3px 13px 6px rgba(80, 72, 68, 0.18);
  }

}
.star-active {
  display: none;
  position: relative;
}
.top-line__left {
  &:active .star-active {
   display: block;
 }

 &:active .star-icon {
   display: none;
 }

}
.product-block {
  width: 100%;
}



.top-line {
  padding-left: 14px;
  padding-right: 8px;
  &__left {
    display: inline-block;
    padding-right: 60px;
  }
  &__main {
    display: inline-block;
  }
  &__right {
    display: inline-block;
  }
}
.times-text {
  color: #5d5d5d;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-right: 10px;
}

//main-line 
.main-line__text {
  padding-left: 13px;
  padding-top: 10px;
}
.main-line__img {
  min-width: 100%;
  position: relative;
  span {
    width: 65px;
    height: 42px;
    position: absolute;
    z-index: 2;
    padding: 13px;
    right: 0;
    color: #000000;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    top: 118px;
    background-color: #ffffff;

  }
}

//bottoml-ine
.bottom-line {
 padding-left: 13px;
 padding-right: 5px;
}
.like-item, .comment-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #545454;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 700;
  padding-top: 8px;
  p { 
    display: inline-block;
    padding-left: 5px;

  }
}

.bottom-img {
  display: inline-block;
  float: right;
}
.icon-like, .icon-comment {
  vertical-align: middle;
  font-size: 22px;
  cursor:pointer;
  transition:.2s;
}



.firm-name {
  color: #4b4b4b;
  font-family: 'Arial';
  font-size: 15px;
  font-weight: 400;
}

.clothing-name {
 font-weight: 700;
 color: #4b4b4b;
 margin: 0; 
 font-family: 'LatoWebBold';
}

.clothing-size, .baby-age {
  color: #878787;
  font-family: 'Arial';
  font-size: 13px;
  line-height: 20px;
} 


.content__main {
  display: flex;
  justify-content: space-between;
}

//btns
.star-btn { 
 width: 27px;
 height: 27px;
 border-radius: 0 0 3px 3px;
 background-color: #9bbc33;
 border: none;
 cursor:pointer;
}

.new-btn {
  border-radius: 6px;
  border: 2px solid #b02e2e;
  background-color: #FFF;
  color: #b02e2e;
  font-family: "LatoWebBold";
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 12px 0px 12px;
  vertical-align: middle;
}


.product-block__btn { 
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding:18px 39px 18px 47px;
  background-color: #cc4040;
  color: #ffffff;
  font-family: 'LatoWeb';
  font-size: 18px;
  font-weight: 500;
  transition:.4s;

  &:hover {
    background-color:#b13737;
  }
}

.aside {
  width: 460px;
}

#two {
  display: none;
}

.tabs-group {
 border-radius: 5px 5px 0px 0px;
 background-color: #fff;
 li {
  display: inline-block;

}
.tabs-group__item a {
  box-shadow: inset -2px -2px 7px rgba(0, 0, 0, 0.35);
  background-color: #777777;
  padding:20px 51px 20px 51px;
  color: #ffffff;
  font-family: 'LatoWeb';
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  line-height: 9px;
}

.tabs-group__items a {

  margin-left: -3px;
  box-shadow: inset 2px -2px 7px rgba(0, 0, 0, 0.35);
  background-color: #777777;

  padding: 20px 35px 20px 35px;
  color: #ffffff;
  font-family: 'LatoWeb';
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  line-height: 9px;
} 
.active {
  box-shadow:none!important;
  background-color: #FFF!important;
  color: #000!important;
}
}

.one-content{
  background-color: #ffffff;
  padding: 20px;
  max-width: 100%;
  border-radius: 0px 0px 10px 10px;
  font-family: 'LatoWeb';
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}


.item-date {
  color: #7d7d7d;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.item-text {
  color: #000000;
  font-family: 'LatoWeb';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

//Footer 

.footer {
  background-color: #f0f0f0;
}

.footer__top {
  padding-top: 40px;
  padding-bottom: 70px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  justify-content: space-between;

}

.footer__top-menu {

}

.h3 {
  margin-top: 0;
  color: #000000;
  font-family: "LatoWebBold";
  font-size: 18px;

}

.footer__top-item {
 display: inline-block;
 float:left;
 padding-right: 170px;
 a {
  color: #3a3a3a;
  font-family: "LatoWeb";
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}
}

.language-select {
  padding-bottom: 20px;
}

.icon-facebook, .icon-twitter {
  font-size: 18px;
}

.icon-instagram,.icon-facebook, .icon-twitter {
  color: #979797;
  transition:.2s;
}

.icon-language {
  font-size: 22px;
  vertical-align: middle;
}

.select-btn {
  border: none;
  background-color: transparent;
  cursor:pointer;
  text-align: left;
  display: inline-block;
  &:hover ul {
    display: block;

  }

  span {
    color: #575757;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    position: relative;
    border-bottom: 1px dotted  #979797;
  } 

  ul {
    display: none;
    position: absolute;
    background-color: #FFF;
    right: 40px;
    margin-top: 1px;


  }

  li:first-child {
   border-bottom: none;
 }


 li {
  padding: 10px;
  border:1px solid #979797;
  transition:.3s;
  &:hover  {
   color: #fff;
 }

 &:hover {
  background-color: #979797;
}
}

li {
  color: #000;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;

}
}


.soc-buttons a {
  margin-right: 20px;
}

.soc-buttons a {
  &:hover span {
    color: #cc4040;
  }
}

.footer__bottom {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top:26px;
  padding-bottom: 26px;
}

.footer-img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 30px;
}

.span-copyright {
  color: #575757;
  font-family: "LatoWeb";
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}

.footer__bottom-right {
 transition:.4s;
}

.footer-right-link {
  display: inline-block;
  color: #575757;
  font-family: "LatoWeb";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 30px;

  &:hover {
   text-decoration: underline;
 }
}


