<div class="db-container pp-container clearfix ">
    <main class="db-content pp-content">

        <div class="db_top-panel clearfix">
            <h2 class="db_title">Homing In Purchaser Refund Policy</h2>
        </div>

        <div class="privacy-policy_wrap">


            <h2>a. Nonrefundable.</h2>

            <p>All membership purchases are non-refundable.</p>

            <h2>b. Term.</h2>

            <p> Premium and Elite Memberships run month-to month.  They will auto renew each month unless cancelled by the purchaser.  To cancel a subscription email <a href="mailto:support@homingin.co">support@homingin.co</a> with subject CANCEL MY MEMBERSHIP and full member details including name, email, phone, company name.  Refunds will not be pro-rated.</p>

            <h2>c. No Early Termination Fees.</h2>

            <p>Membership will continue to run until month's service ends.</p>

            <h2>d. Termination.</h2>

            <p>Homing In LLC reserves the right to terminate any membership at any time.</p>

        </div>

    </main>
</div>