<div ng-controller="photosCtrl" id="sub_height_container" class="sub_container_sup">
    <div class="prof_left_side">
        <div class="large_text"> Review </div>
        <div>
            Address : {{addy}}
            <hr style="width:100%;" />
        </div>
        <div>
            Photos : 
            <div class="room_pic_display" style="width: 1581px;min-height: 130px;">
                <div class="room_pic_display_cell display_cell_0" style="display: none;">
                    <span class="display_cell_inner image-preview cell_0" style="background-size: auto 100%; background-position: 50% 0%; background-repeat: no-repeat;"></span>
                    <span class="remove_cell" ng-click="remUpl.doClick(0)">X</span>
                </div>
                <div class="room_pic_display_cell display_cell_1" style="display: none;">
                    <span class="display_cell_inner cell_1" style="background-size: auto 100%; background-position: 50% 0%; background-repeat: no-repeat;"></span>
                    <span class="remove_cell" ng-click="remUpl.doClick(1)">X</span>
                </div>
                <div class="room_pic_display_cell display_cell_2" style="display:none;">
                    <span class="display_cell_inner cell_2"></span>
                    <span class="remove_cell" ng-click="remUpl.doClick(2)">X</span>
                </div>
                <div class="room_pic_display_cell display_cell_3" style="display:none;">
                    <span class="display_cell_inner cell_3"></span>
                    <span class="remove_cell" ng-click="remUpl.doClick(3)">X</span>
                </div>
                <div class="room_pic_display_cell display_cell_4" style="display:none;">
                    <span class="display_cell_inner cell_4"></span>
                    <span class="remove_cell" ng-click="remUpl.doClick(4)">X</span>
                </div>
                <div class="room_pic_display_cell display_cell_5" style="display:none;">
                    <span class="display_cell_inner cell_5"></span>
                    <span class="remove_cell" ng-click="remUpl.doClick(5)">X</span>
                </div>
                <div class="room_pic_display_cell display_cell_6" style="display:none;">
                    <span class="display_cell_inner cell_6"></span>
                    <span class="remove_cell" ng-click="remUpl.doClick(6)">X</span>
                </div>
                <div class="room_pic_display_cell display_cell_7" style="display:none;">
                    <span class="display_cell_inner cell_7"></span>
                    <span class="remove_cell" ng-click="remUpl.doClick(7)">X</span>
                </div>
            </div>
            <br />
            <hr style="width:100%;" />
        </div>
        <div>
            Notes : {{notes}}
            <hr style="width:100%;" />
        </div>
        <button type="button" class="btn-submit wider_submit_btn" ng-click="submitProp.myClick()">Submit</button>
        <div class="spin_container">
            <div class="price_loader" style="display:none;"></div>
            <div id="error_message" style="height: 20px;width: 320px;display:none;">Failed to upload picture.</div>
        </div>
    </div>
</div>