<div  ng-controller="photosCtrl" id="sub_height_container" class="sub_container_sup">
    <div class="room_uploader" id="dragandrophandler">
        <div class="room_up_banner">
        </div>
        <div class="room_up_header large_text">
            Drag &amp; Drop a File
        </div>
        <div class="room_up_header">
            <h3>or select an option below</h3>
        </div>
        <div class="room_up_btn_container">
            <ul class="room_up_btns">
                <li class="room_btn_one" for="image-upload" id="image-label">
                    <img src="../img/btn_img_1.png" class="room_btn_imgs" />
                    <span class="room_btn_text">
                        Add Image
                    </span>
                    <input type="file" class="" name="image" id="image-upload" />
                </li>
                <li class="room_btn_two">
                    <img src="../img/btn_img_2.png" class="room_btn_imgs" />
                    <span class="room_btn_text">
                        Add Video
                    </span>
                    <input type="file" class="" name="image" id="image-upload" />
                </li>
                <li class="room_btn_three" ng-click="linkUpl.doClick(false)">
                    <img src="../img/btn_img_3.png" class="room_btn_imgs" />
                    <span class="room_btn_text">
                        Use a URL
                    </span>
                </li>
            </ul>
        </div>
        <div class="room_bottom_header">
            <h4>Maximum Upload File Size: 10MB</h4>
        </div>
        <div class="room_type_selector">
            <div id="upload_link_window" style="display:none;">
                <div class="addressBox">
                    <span class="remove_upload_url" ng-click="linkUpl.doClick(true)">X</span>
                    <input id="urlbox" type="text" class="address_url ng-pristine ng-valid" ng-model="example.text" name="address_start" placeholder="Photo URL" autocomplete="off">
                    <button type="button" class="btn-submit upload_url_btn" ng-click="linkUpl.doClick(true)">Submit</button>
                </div>
            </div>
            <div id="set_room_type" style="top:200px;display:none;" ng-init="types=rooms_types">
                <div ng-repeat="x in types">
                    <div class="room_selection_cell" ng-if="x[0] == false ">
                        <div class="inner_cell" ng-click="linkUpl.setRoom($index)"><span class="inner_cell_text" id="room_type_{{$index}}">{{x[1]}}</span></div>
                    </div>
                    <div class="room_selection_cell" ng-if="x[0] == true ">
                        <div class="inner_cell_disable"><span class="inner_cell_text" id="room_type_{{$index}}">{{x[1]}}</span></div>
                    </div>
                </div>
                <span class="remove_upload_url" ng-click="linkUpl.doClick(true)" style="top:-250px;">X</span>
            </div>
        </div>
    </div>
    <div class="room_pic_display">
        <div class="room_pic_display_cell display_cell_0" style="display:none;">
            <span class="display_cell_inner image-preview cell_0"></span>
            <span class="display_cell_inner_text cell_text_0 ng-binding"></span>
            <span class="remove_cell" ng-click="remUpl.doClick(0)" style="display:none;top: -150px;" id="rem_cell_0">X</span>
        </div>
        <div class="room_pic_display_cell display_cell_1" style="display:none;">
            <span class="display_cell_inner cell_1"></span>
            <span class="display_cell_inner_text cell_text_1 ng-binding"></span>
            <span class="remove_cell" ng-click="remUpl.doClick(1)" style="display:none;top: -150px;" id="rem_cell_1">X</span>
        </div>
        <div class="room_pic_display_cell display_cell_2" style="display:none;">
            <span class="display_cell_inner cell_2"></span>
            <span class="display_cell_inner_text cell_text_2 ng-binding"></span>
            <span class="remove_cell" ng-click="remUpl.doClick(2)" style="display:none;top: -150px;" id="rem_cell_2">X</span>
        </div>
        <div class="room_pic_display_cell display_cell_3" style="display:none;">
            <span class="display_cell_inner cell_3"></span>
            <span class="display_cell_inner_text cell_text_3 ng-binding"></span>
            <span class="remove_cell" ng-click="remUpl.doClick(3)" style="display:none;top: -150px;" id="rem_cell_3">X</span>
        </div>
        <div class="room_pic_display_cell display_cell_4" style="display:none;">
            <span class="display_cell_inner cell_4"></span>
            <span class="display_cell_inner_text cell_text_4 ng-binding"></span>
            <span class="remove_cell" ng-click="remUpl.doClick(4)" style="display:none;top: -150px;" id="rem_cell_4">X</span>
        </div>
        <div class="room_pic_display_cell display_cell_5" style="display:none;">
            <span class="display_cell_inner cell_5"></span>
            <span class="display_cell_inner_text cell_text_5 ng-binding"></span>
            <span class="remove_cell" ng-click="remUpl.doClick(5)" style="display:none;top: -150px;" id="rem_cell_5">X</span>
        </div>
        <div class="room_pic_display_cell display_cell_6" style="display:none;">
            <span class="display_cell_inner cell_6"></span>
            <span class="display_cell_inner_text cell_text_6 ng-binding"></span>
            <span class="remove_cell" ng-click="remUpl.doClick(6)" style="display:none;top: -150px;" id="rem_cell_6">X</span>
        </div>
        <div class="room_pic_display_cell display_cell_7" style="display:none;">
            <span class="display_cell_inner cell_7"></span>
            <span class="display_cell_inner_text cell_text_7 ng-binding"></span>
            <span class="remove_cell" ng-click="remUpl.doClick(7)" style="display:none;top: -150px;" id="rem_cell_7">X</span>
        </div>
    </div>
</div>