<div>
    <div class="prof_left_side">
        <div class="large_text"> Address </div>
        <div>{{addy}}</div>
        <div class="large_text"> Proprty Details </div>
        <div> None at this time.</div> 
        <button type="button" class="btn-submit wider_submit_btn" ng-click="myMenu.doClick('/partials/search/subpartial/photos.html')">Next</button>
    </div>
    <div class="prof_right_side">
        <div class="mini_map">

        </div>
        <div class="mini_streetview">

        </div>
    </div>
</div>