* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
  font-size: 16px;
}

body {
  background:url("../img/2-layers.png") center top no-repeat;
  background-size:cover; 
  font-family: "ArialMT", sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised; 
}

.hidden {
  display: none; }

  button,input{
   outline:none;
 }


 a{

  color: #201600;
  outline: none;
}

a:hover {

}

p {
  margin: 0 0 10px;
}


img {
  outline: none;
}


.cf::after {
  content: "";
  display: table;
  clear: both;
}

.wrap {
  max-width: 1000px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

}

li{
  list-style: none;
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  overflow: hidden;
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

.header-wr{
 color: #fff;
 background-color: #FFF;
 box-shadow: inset #e5eaec 0px -12px 15px 2px;

 .header{
  display:flex;
  min-height: 50px;
  align-items:center;
  justify-content: space-between;
  .btn-hamburger{
    display: none;
    width: 37px;
    height: 34px;
    border: none;
    background-image:url('../img/button.png');
  }
  .nav{
    z-index: 99;
  }
  .nav__item{
    display: inline-block;
    padding-right: 18px;
  }
  .nav__link{ 
   padding: 5px 6px 5px 9px;

   text-decoration: none;
   color: #000000;
   font-family: "DinBold";
   font-size: 12px;
   text-transform: uppercase;
   &:hover{
    background-color: #20a2c1;
    padding: 5px 6px 5px 9px;
    color: #fff;
    text-decoration: none;
    position: relative;
    &::after{
     content: '';
     position: absolute;
     top: -1px;
     bottom: 0px;
     right: -5px;
     background-color: #20a2c1;
     width: 10px;
     transform: skew(200deg);
     /* border: 1px solid #333; */
     border-left: none;
   }
 }
}

.active{
  background-color: #20a2c1;
  padding: 5px 6px 5px 9px;
  color: #fff;
  text-decoration: none;
  position: relative;
  &::after{
   content: '';
   position: absolute;
   top: -1px;
   bottom: 0px;
   right: -5px;
   background-color: #20a2c1;
   width: 10px;
   transform: skew(200deg);
   /* border: 1px solid #333; */
   border-left: none;
 }
}
.header__mid{
  .search-form{ 
   color: #000;
   display: inline-block;
   position: relative;
   background-color: #c1ced2;
   border-right:none;
   position: relative;
   ::-webkit-input-placeholder { font-family: 'ArialMT'; vertical-align:middle;  font-size: 11px; font-weight: normal;  text-transform: uppercase;color: #3a3a3a;opacity: 0.5;}
   ::-moz-placeholder          {font-family: 'ArialMT'; vertical-align:middle;  font-size: 11px; font-weight: normal;  text-transform: uppercase;color: #3a3a3a;opacity: 0.5;}/* Firefox 19+ */
   :-moz-placeholder           {font-family: 'ArialMT'; vertical-align:middle;  font-size: 11px; font-weight: normal;  text-transform: uppercase;color: #3a3a3a;opacity: 0.5;}/* Firefox 18- */
   :-ms-input-placeholder      {font-family: 'ArialMT'; vertical-align:middle;  font-size: 11px; font-weight: normal;  text-transform: uppercase;color: #3a3a3a;opacity: 0.5;}
   &::after{
     content: '';
     position: absolute;
     top: 0px;
     bottom: 0px;
     right: -5px;
     background-color: #c1ced2;
     width: 10px;
     transform: skew(200deg);
     border-left: none;
   }
   &__input{
    background-color: #c1ced2;
    padding-left: 10px;
    height: 29px;

    border: none;
  }
  &__btn{
    width: 29px;
    height: 29px;
    background:transparent;
    border:none;
  }
  &__btn::before {
    content: "\e914";
    font-family: 'icomoon';
    color: black;
    font-size: 18px;
    vertical-align: middle;
    background-color: transparent;
  }


}
}

.header__right{
 padding-left: 44px;
 .personal-room{
  padding-right: 8px;
  color: #20a2c1;
  font-family: "DinBold";
  font-size: 11px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  /* Text style for "личный каб" */
  color: #20a2c1;
}
.soc-buttons{
  &__link{
    text-decoration: none;
    padding-left: 7px;
    font-size: 20px;
    color: #494949;
    vertical-align: middle;
    transition:all .3s;
    &:hover{
      color: #20a2c1;
      
    }
  }

}
}
}

}


.soc-buttons{
  display: inline-block;
}

/////////////////////////////////////B-block//////////////////////////

.b-block{ 
 max-height:500px;

 .b-block__top{
  min-height: 100px;
  padding-top: 30px;
  .logo{
    float:left;
  }
  .phone{
    float:right;
    text-align: right;
    padding-top: 4px;
    &__text{
      opacity: 0.4;
      color: #000000;
      font-size: 13px;
      font-weight: 400;
      display: block;
    }

    &__number{
      display: block;
      text-decoration: none;
      color: #000000;
      font-family: "DinBold";
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 2px;

      &_seven{
       font-size: 18px;
     }
   }
   &__link{
    display: block;
    color: #20a2c1;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
  }
}
}

.b-block__bottom{
 background:url('../img/bg-top.png') no-repeat bottom;
 min-height: 335px;
 .stamp-text{
  text-align: left;
  padding-top: 86px;
  padding-left: 30px;
  .h2{
    color: #20a2c1;
    font-family: "DinBold";
    font-size: 1.875rem!important;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }
  .p{
    color: #000000;
    font-family: "DinRegular";
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    .p-span{ 
      font-family: "DinBold";
    }
  }
}
}

}

.top-info-block{
  padding-top: 33px;
  padding-bottom: 33px;
  .p{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
  }
  a{
    color: #20a2c1;
    text-decoration: underline;
  }
}

.content{
  padding-bottom: 45px;
  border-bottom: 1px #e0e0e0 solid;
  
}
.content__left{
  max-width: 36%;
  display: inline-block;
  float:left;
  .news-company{


  }
  .news-company__h2{
    height: 31px;
    color: #fff;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 3px;
    font-family: "DinBold";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background:url("../img/layer-1-copy.png") no-repeat;
  }
  .news-company__item{
    display: block;
    padding-left: 12px;
    padding-right: 42px;
  }

  .info-date{
    background-color: #494949;
    color: #ffffff;
    font-size: 11px;
    padding:4px;
  }
  .name-news{
   margin-top: 8px;
   margin-bottom: 26px;
   color: #20a2c1;
   font-family: "ArialMT";
   font-size: 14px;
   font-weight: 400;
   text-decoration: underline;
   display:block;
 }
}

.feedback{
  padding-bottom: 18px;
  .feedback__h2{
    height: 31px;
    color: #fff;
    padding-left: 10px;
    padding-top: 3px;
    font-family: "DinBold";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background:url("../img/layer-1-copy.png") no-repeat;
  }
  .feedback__p{
    color: #000000;
    font-family: "Arial-italic";
    font-size: 13px;
    font-weight: 400;
    padding-left: 10px;
  }
  .feedback__name{
    padding-left: 10px;
    opacity: 0.78;
    color: #000000;
    font-family: "Arial-Italic";
    font-size: 13px;
    font-weight: 400;
  }

  .feedback__location{
    opacity: 0.88;
    color: #000000;
    font-family: "ArialBold-italic";
    font-weight: 700;

  }
  .feedback__link{
    display: inline-block;
    padding-top: 13px;
    padding-left: 10px;
    color: #54b200;
    font-family: "Arial-Italic";
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
  }


}

.partners{
  .partners__h2{
    height: 31px;
    color: #fff;
    padding-left: 10px;
    padding-top: 3px;
    font-family: "DinBold";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background:url("../img/partners-img.png") no-repeat;
  }
  .partners__img{
    padding-left: 10px;
    padding-right: 18px;
    padding-bottom: 5px;
  }

}

.content__right{
  width: 64%;
  display: inline-block;
  padding-left: 75px;
  .our-services{

   .div{

   }
   .our-services__h1{
    margin: 0px;
    float: left;
    z-index: 99;
    position: relative;
    display: inline-block;
    background-color: #494949;
    padding: 3px 10px 0px 8px;
    color: #ffffff;
    font-family: "DinBold";
    font-size: 18px;
    font-weight: 700;
    height: 31px;
    text-transform: uppercase;
    &::after{
     content: '';
     position: absolute;
     top: 0px;
     bottom: 0px;
     right: -6px;
     background-color: #494949;
     width: 12px;
     transform: skew(200deg);
     border-left: none;
   }
 }

 .calc-link{
   position: relative;
   background-color: #20a2c1;
   display: inline-block;
   margin: 0;
   color: #ffffff;

   padding: 7px 20px 6px 50px;
   font-family: "DinBold";
   font-size: 14px;
   font-weight: 700;
   text-decoration: underline;
   text-transform: uppercase;
   &::after{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: -6px;
    background-color: #20a2c1;
    width: 12px;
    transform: skew(200deg);
    border-left: none;
  }
  .ico{
    position: absolute;
    vertical-align: middle;
    left: 18px;
  }
}
}
}

.our-services__block{
  padding-left: 10px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  a{
    display: inline-block;
  }
  
}

.our-services__item{
  display: block;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;

  .cirle-icon{
    vertical-align: middle;
    padding-right: 8px;
  }
  .h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #20a2c1;
    font-family: 'DinBold';
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
  }

  li a{
    color: #000000;
    font-family: "ArialMT";
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    line-height: 24px;
  }
}


.footer__left{
  float: left;
  padding-right: 5%;
}
.footer__right{
  float: right;
}

.footer__left, .footer__mid, .footer__right{
  padding-top: 20px;
  display: inline-block;
}
.footer{
    padding-bottom:50px;

  .top-text{
    display: block;
    color: #000000;
    font-family: 'ArialMT';
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;

  }
  .footer__item{
    display: inline-block;
    padding-right: 20px;
    .footer__link {

      font-family: 'ArialMT';
      font-size: 11px;
      font-weight: 400;
      text-decoration: underline;
      text-transform: uppercase;
      color: #54b200;
    }
  }
  .location-info{
    opacity: 0.6;
    color: #000000;
    font-family: 'ArialMT';
    font-size: 13px;
    font-weight: 400;
  }
}
.soc-buttons{
  &__link{
    text-decoration: none;
    font-size: 15px;
    color: #494949;
    padding-right: 5px;
    vertical-align: middle;
    transition:all .3s;
    &:hover{
      color: #20a2c1;
      
    }
  }

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.contacts{
  background:url('../img/contacts-pics.png')  ;
}