<div>
    <div class="sub_control_container">
        <div id="login_container">
            <div class="login_page" style="height: 200px;">
                <div class="login-panel">
                    <div class="large_text form_li_btn_text">PASSWORD RESET</div>
                    <p>Please enter a new password:</p>
                    <form ng-submit="performReset()">
                        <p><input type="password" ng-model="newPassword" /></p>
                        <p><input type="submit" value="Change Password" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>