<div>
    <div class="">
        <div id="other_container">
            <div id="homeProfile">
                <div class="sideProfileMenu">
                    <ul class="sideUl">
                        <li>
                            <a href="#" class="menuUrl" ng-click="myMenu.doClick('/partials/search/subpartial/profile.html')">Profile Details</a>
                        </li>
                        <li>
                            <a href="#" class="blueMidLi" ng-click="myMenu.doClick('/partials/search/subpartial/photos.html')">Photos</a>
                        </li>
                        <li>
                            <a href="#" class="blueMidLi" ng-click="myMenu.doClick('/partials/search/subpartial/notes.html')">Notes</a>
                        </li>
                        <li>
                            <a href="#" class="blueMidLi" ng-click="myMenu.doClick('/partials/search/subpartial/finish.html')">Complete</a>
                        </li>
                    </ul>
                </div>
                <div class="mainProfileScreen" data-ng-include="selectedTemplate.path">

                </div>
            </div>
        </div>
    </div>
</div>