<div>
    <div class="prof_left_side">
        <div class="form-group">
            <label for="comment" class="large_text">Notes :</label>
            <textarea class="form-control" rows="5" id="comment" style="max-width: 100%; max-height: 100%;" placeholder="Anything that makes your property unique, or any repairs needed?">{{notes}}</textarea>
        </div>
        <button type="button" class="btn-submit wider_submit_btn" ng-click="myMenu.doClick('/partials/search/subpartial/finish.html')">Next</button>
    </div>
</div>