<div>
    <div class="prof_left_side">
        <div class="large_text"> Photos </div>
        <div class="photo_tool">
            <div id='carousel_container'>
                <div id='left_scroll' ng-controller="subMenuCtrl" ng-click="leftMnu.doClick()"><i class="arrow arrow_left" title="arrow icon"></i></div>
                <div id='carousel_inner'>
                    <ul id='carousel_ul'>
                        <li><div class="li_title">Neighborhood</div></li>
                        <li><div class="li_title">Other</div></li>
                        <li class="image-preview" style="height:260px; width:400px;top: 0px;opacity:1.0; border-radius: 0px;"><div class="li_title" style="border-radius: 0px 0px 0px 0px;">Front of House</div></li>
                        <li><div class="li_title">Rear of House</div></li>
                        <li><div class="li_title">Kitchen</div></li>
                        <li><div class="li_title">Living Room</div></li>
                        <li><div class="li_title">Master Bath</div></li>
                        <li><div class="li_title">View</div></li>
                    </ul>
                </div>
                <div id='right_scroll' ng-controller="subMenuCtrl" ng-click="rightMnu.doClick()"><i class="arrow arrow_right" title="arrow icon"></i></div>
            </div>  
            <div>

            </div>
        </div>
        <div>
            <div id="image-preview"><input type="file" class="btn-submit wider_submit_btn" name="image" id="image-upload" /></div>
        </div>
        <div class="btn-submit wider_submit_btn upload_btn">
            <label for="image-upload" id="image-label">
                <span id="image-label-text">Upload</span>
            </label>
        </div>
        <button type="button" class="btn-submit wider_submit_btn" ng-click="myMenu.doClick('/partials/search/subpartial/notes.html')">Next</button>
    </div>
</div>