<div  ng-controller="photosCtrl" id="sub_height_container">
    <div class="">
        <div>
            <div class="main_upload">
                <div class="large_text banner_text"> Photos </div>
                <div class="img_upload_container image-preview"></div>
            </div>
            <div class="upload_menu_container">
                <div for="image-upload" class="click_to_upload">
                    Click to Upload
                </div>
                <div class="mid_menu">
                    <ul class="mid_menu_line">
                        <li>
                            Front of House
                        </li>
                        <li>
                            Rear of House
                        </li>
                        <li>
                            Kitchen
                        </li>
                        <li>
                            Living Room
                        </li>
                    </ul>
                    <ul class="mid_menu_line">
                        <li>
                            Master Bath
                        </li>
                        <li>
                            View
                        </li>
                        <li>
                            Neighborhood
                        </li>
                        <li>
                            Other
                        </li>
                    </ul>
                </div>                
            </div>
            <div class="up_photo_display">
                Drag & Drop to Upload
            </div>
        </div>
    </div>
</div>