@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans/OpenSans-Regular.eot");
	src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
			 url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SourceSansPro";
	src: url("../fonts/SourceSansPro/SourceSansPro-Light.eot");
	src: url("../fonts/fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/SourceSansPro/SourceSansPro-Light.woff") format("woff"),
			 url("../fonts/fonts/SourceSansPro/SourceSansPro-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

