/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/*Project-section*/
	.projects__center .img-block:hover .text-title{	padding-top: 110px; }

	/*Our-services-section*/
  .box div{display: inline-block!important;} 
  .box div:nth-child(1){margin-bottom: 50px;}
  .box div:nth-child(2){margin-bottom: 50px;}
  .our-services__right{padding-top: 0;} 

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 .header {min-height:36rem;}
 .header-content {padding-top: 100px;}
 .logo{display: block; text-align: center; margin-bottom: 20px;}
 .arrow-down{margin: 15% auto 0px;}	
 /*Project-section*/
  .projects__center .img-block:hover .text-title{padding-top: 90px;}
  .projects__bottom p {margin-bottom: 10px;}
  .projects__bottom {text-align: center; padding: 20px 0px 20px 0px;}
  .projects__bottom .main-btn {float: none; margin: 0 auto;}
  /*Team-quote-section*/
  .team-quotes__right .img-imac{ position: relative;  max-width:100%; height: auto; right: 0; bottom: 0;} 
  /*The Team*/
  .the-team__slider .slick-slider .slide-one { flex-direction: column; }
  .the-team__slider .info-block {text-align: center;}
  .the-team__slider .info-block-container{padding-right: 0px;}
  .the-team__slider .p{margin: 0 auto; padding: 10px 0px 25px 0px;}
  .the-team__slider img {margin: 0 auto;}
  /*Contact-form*/
  .contacts-form label {width: 213px;} 

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
.header {min-height:31rem;}
.header-top{padding-top: 25px;}
.nav{display: none;} .menu-btn{display: inline-block; float: right; } .logo{ padding: 10px 0px; display: inline-block; }
.header {-webkit-background-size: auto;
background-size: auto;}
 .header-content {padding-top: 30px;}
 .arrow-down{margin: 15% auto 0px;}	

/*About-section*/
.about-main{padding: 50px 0px 50px 10px;}
.about-details{padding: 50px 0px 50px 10px;}
.about-details__bottom .h2{ text-align: center; }
.about-main__right img {margin: 0 auto; display: block; padding-top: 50px;}


/*Project-section*/
.projects{padding-top: 50px}
.projects__bottom p{font-size: 16px;}
.projects__center{ flex-direction: row; justify-content: center;}
.projects__center .img-block:nth-child(1){display: none;}

/*Our-services-section*/
  .our-services{padding:50px 0px;}
  .our-services__right .box {text-align: center; padding:20px 0px; } 
  .our-services__right .box  div:nth-child(1){margin-bottom: 0px;}
 .our-services__right .box div:nth-child(2){margin-bottom: 0px; }
  .our-services__right{padding-top: 0;} 

/*Team-quote-section*/
  .the-team {padding: 50px 0;}
  .team-quotes__left {padding-bottom: 50px;} 
  .team-quotes__right .img-imac{text-align: center; margin: 0 auto; display: block;} 

/*Contact-form*/
  .contacts-form label {width: 100%; display: block;} 

/*Mobile-menu-styles*/
 .nav__list {
 	flex-direction: column;
  text-align: center;
  text-transform: uppercase;
 }
 .nav__item {
 	padding-left: 0px; 
  padding-bottom: 10px;
 }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 580px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.header {min-height:28rem;}
.header-top{padding-top: 15px;}
 .header-content {padding-top: 0px;}
/*Project-section*/
.projects__center{ flex-direction: column; justify-content: space-between; ;}
.projects__center .img-block:hover .text-title{	padding-top: 130px; }
.img-block img{min-width: 100%;}
.our-services__left .left-text{margin-bottom: 0px!important;}
/*Our-services-section*/
.our-services__right .box {text-align: center; padding:20px 0px; }
 .our-services__right .box div:nth-child(1){ margin: 0 auto 50px;  display:block!important;}
  .our-services__right .box div:nth-child(2) { margin: 0 auto 50px; display:block!important;}
 .our-services__right .box{padding-top: 20px;}
 .our-services__right{padding-top: 0;} 

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
.header {min-height:34rem;}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}








