html {
	height: 100%;
}
body {
	font-family: "RobotoRegular" Arial;
	font-size: 16px;
	overflow-x: hidden;
	background-color: #333;
	height: 100%;
	display: flex;
	color: #fff;
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);


}
 ul li{
 	list-style-type: none;
 }
.cover-container {
	max-width: 45em;
}
.logo{
	color: #fff;
}
.logo:hover{
	color: #fff;
}
.nav-masthead .nav-link {
	padding: .25rem 0;
	margin-left: 10px;
	font-weight: 700;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
	display: block;
}
.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
		border-bottom-color: #0c62bd;
		color: #fff;
		transition: .3s;
}
.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #0c62bd;
}
.cover-heading{
	margin: 20px 0px;
}
/*Main-content*/
.cover {
	padding: 0 1.5rem;
}
.target p{
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 0px;
}
.target small{
	font-size: 0.7rem;
	opacity: .7;
}
.icon-download{
	max-width: 100px;
	height: auto;
	margin: 20px 0px 10px 0px;
}

section.target input {
	display: block;
	margin: 10px	 auto;
	opacity: 0.8;
}

.btn{
	background-color: #0c62bd;
	border-color: #0c62bd;
}


/*main-button*/
section.target {
	position: relative;
	z-index: 16;
	max-width: 38rem;
	height: 17rem;
	margin: 1rem auto;
	padding: 0 0 1.6rem;
	color: #40444f;
	border: .2rem dashed #616778;
	border-radius: 1.5rem;
	cursor: pointer;
	-webkit-transition: color 0.2s ease-out, border-color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out, border-color 0.2s ease-out;
	-o-transition: color 0.2s ease-out, border-color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out, border-color 0.2s ease-out;
	transition: color 0.2s ease-out, border-color 0.2s ease-out;
}

/*last-images-list*/
.last-images-list{
	display: block;
  margin: 0 auto;
}
.last-images-list img{
	max-width: 100px;
	height: auto;
	border-radius:  5px;
}
.last-images-list li{
 margin: 10px 10px;
}
.last-images-list ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

/*Footer*/
.mastfoot {
	color: rgba(255, 255, 255, .5);
}

footer .inner a:hover{
	color: #DDD6D3;
	text-decoration: none;
}

footer .inner p{
	color: #969696;
}

footer .inner a{
	color: #969696;
	transition: .3s;
	font-size: 17px;
}


.color-orange{
	color: #ff7000;
	font-weight: normal;
	font-style: normal;
}

