@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

button, input {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.color-green {
  color: #19bd9a;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.text-strong {
  color: #ffffff;
  font-family: "OpenSans";
  font-size: 20px;
  /* Text style for "accusamus" */
  font-weight: 700;
  letter-spacing: 0.8px;
}

.h2 {
  color: #333b46;
  font-family: "SourceSansPro";
  font-size: 20px;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}

img {
  outline: none;
}

li {
  list-style: none;
}

ul {
  list-style: none;
  /*убираем маркеры списка*/
  margin: 0;
  /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0;
  /*убираем левый отступ, равный 40px*/
}

body {
  background-color: #fff;
  font-family: 'OpenSans', Arial;
  font-size: 16px;
  margin: 0;
  color: #fff;
  overflow-x: hidden;
}

.header {
  background: url("../img/header-bg.png") center top;
  background-size: cover;
  min-height: 39rem;
}

.header-top {
  padding-top: 50px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  padding-left: 10px;
}
.nav__link {
  color: #ffffff;
  font-family: "OpenSans";
  display: block;
  padding: 5px 15px 5px 15px;
  border-radius: 13px;
  border: 1px solid transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.nav__link:hover {
  padding: 5px 15px 5px 15px;
  border-radius: 17px;
  border: 1px solid #ffffff;
}
.nav .active {
  padding: 5px 15px 5px 15px;
  border-radius: 17px;
  border: 1px solid #ffffff;
}

.header-content {
  text-align: center;
  padding-top: 140px;
}
.header-content .h1 {
  color: #ffffff;
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 7px;
}
.header-content p {
  color: #ffffff;
  font-family: "SourceSansPro";
  font-size: 16px;
  /* Text style for "A, t vero" */
  letter-spacing: 0.8px;
}

.text-mnu {
  display: inline-block;
  float: left;
  font-family: "SourceSansPro";
  font-weight: 300;
  letter-spacing: 2px;
  padding: 7px 0px;
}

.menu-btn {
  display: none;
  margin-left: 30px;
}

.btn_mnu {
  width: 40px;
  height: 40px;
  padding-left: 1px;
  padding-right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.btn_row {
  height: 2px;
  width: 72%;
  margin: 4px 0;
  background-color: #fff;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn_mnu.active .btn_row:first-child {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 10px;
}

.btn_mnu.active .btn_row:last-child {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  top: -10px;
}

.btn_mnu.active .btn_row:nth-child(2) {
  opacity: 0;
}

.arrow-down {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: #19bd9a;
  border-radius: 50%;
  text-align: center;
  display: block;
  margin: 15% auto 0px;
  position: relative;
  -webkit-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
  -webkit-transition: .4s;
  transition: .4s;
}
.arrow-down::before {
  content: "\e688";
  font-family: "Pe-icon-7-stroke";
  font-size: 35px;
  color: #fff;
}
.arrow-down:hover {
  -webkit-transform: translateY(0px) scale(1.3);
          transform: translateY(0px) scale(1.3);
}

.main-btn {
  display: inline-block;
  color: #333b46;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  padding: 10px 27px 10px 27px;
  border-radius: 19px;
  border: 1px solid #333b46;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.main-btn:hover {
  background-color: #333b46;
  color: #fff;
}

.about {
  background-color: #fff;
}

.about-main {
  padding: 100px 0px 100px 0px;
}
.about-main .h2 {
  color: #333b46;
  font-family: "SourceSansPro";
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.about-main .p {
  color: #81868e;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 10px;
  letter-spacing: 0.7px;
  margin: 10px 0px;
}

.about-details {
  background-color: #f3f3f3;
  padding: 100px 0px  100px 0px;
  /*about-details__top*/
}
.about-details__top {
  text-align: center;
}
.about-details__top .h2 {
  color: #333b46;
  font-family: "SourceSansPro";
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.about-details__top .p {
  color: #81868e;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.7px;
  max-width: 431px;
  margin: 10px auto;
  margin-bottom: 30px;
}
.about-details__top .icons .active {
  background-color: #19bd9a;
}
.about-details__top .icon {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #81868e;
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.about-details__top .icon:hover {
  background-color: #19bd9a;
}
.about-details__top .icon i {
  font-size: 28px;
  padding-top: 10px;
  color: #fff;
}
.about-details__bottom {
  padding-top: 50px;
}
.about-details__bottom .h2 {
  margin-bottom: 15px;
}
.about-details__bottom .p {
  color: #81868e;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.projects {
  background-color: #fff;
  padding-top: 80px;
}
.projects__top {
  text-align: center;
  padding-bottom: 40px;
}
.projects__top .h2 {
  color: #333b46;
  font-family: "SourceSansPro";
  font-size: 20px;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.projects__top .p {
  color: #81868e;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 25px;
  letter-spacing: 0.7px;
  max-width: 431px;
  margin: 10px auto;
}
.projects__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.projects__center .img-block {
  position: relative;
  display: block;
}
.projects__center .img-block:hover .text-title {
  opacity: 1;
  padding-top: 140px;
}
.projects__center .img-block img {
  display: inherit;
}
.projects__center .text-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 50px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.projects__center .text-title__link {
  display: inline-block;
  color: #ffffff;
  font-family: "SourceSansPro";
  font-size: 20px;
  opacity: 0.5;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.projects__bottom {
  background: url("../img/projects/Projecs-bg.png") top center;
  background-size: cover;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.projects__bottom p {
  display: inline-block;
  margin: 0px;
  color: #ffffff;
  font-family: "OpenSans";
  font-size: 20px;
  font-weight: 400px;
  letter-spacing: 0.8px;
}
.projects__bottom .main-btn {
  display: inline-block;
  float: right;
  margin: 0 auto;
  color: #fff;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  padding: 10px 27px 10px 27px;
  border-radius: 19px;
  border: 1px solid #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.projects__bottom .main-btn:hover {
  background-color: #fff;
  color: #19a487;
}

.our-services {
  padding: 80px 0px;
  background-color: #f3f3f3;
}
.our-services__top {
  text-align: center;
  padding-bottom: 50px;
}
.our-services__top .h2 {
  color: #333b46;
  font-family: "SourceSansPro";
  font-size: 20px;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.our-services__top .p {
  color: #81868e;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 25px;
  letter-spacing: 0.7px;
  max-width: 431px;
  margin: 10px auto;
}
.our-services__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our-services__left .icons .active {
  background-color: #19bd9a;
}
.our-services__left .icon {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #81868e;
  cursor: pointer;
  display: block;
  margin-bottom: 15px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  z-index: 1;
}
.our-services__left .icon::before {
  content: "";
  position: absolute;
  color: #fff;
  font-family: 'Pe-icon-7-stroke';
  font-size: 26px;
  z-index: 2;
  left: 15px;
  /* right: 0; */
  bottom: 0;
  top: 14px;
  margin: 0 auto;
}
.our-services__left .icon:nth-child(1)::before {
  content: "\e68a";
  top: 16px;
  left: 14px;
}
.our-services__left .icon:nth-child(2)::before {
  content: "\e6c7";
  top: 16px;
  left: 20px;
}
.our-services__left .icon:nth-child(3)::before {
  content: "\e68c";
  top: 15px;
  left: 15px;
}
.our-services__left .icon:nth-child(4)::before {
  content: "\e692";
  top: 15px;
  left: 16px;
}
.our-services__left .icon:hover {
  background-color: #19bd9a;
}
.our-services__left .left-text {
  padding-left: 30px;
}
.our-services__left .left-text .h3 {
  margin-top: 0px;
  color: #464646;
  font-family: "OpenSans";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.our-services__left .left-text .p {
  color: #81868e;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}
.our-services__right {
  padding-top: 80px;
}
.our-services__right .box div:nth-child(1) {
  margin-right: 20px;
  position: relative;
}
.our-services__right .box div::after {
  color: #81868e;
  font-size: 16px;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 0.8px;
}
.our-services__right .box div:nth-child(1) {
  margin-right: 20px;
  position: relative;
}
.our-services__right .box div:nth-child(1)::after {
  content: "Branding";
}
.our-services__right .box div:nth-child(2) {
  margin-right: 20px;
  position: relative;
}
.our-services__right .box div:nth-child(2)::after {
  content: "Web Design";
}
.our-services__right .box div:nth-child(3) {
  position: relative;
  display: block;
}
.our-services__right .box div:nth-child(3)::after {
  content: "UI/UX";
}

.team-quotes {
  background: url("../img/team-quotes/team-quotes-bg.png") center top;
  background-size: cover;
  padding: 80px 0px;
}
.team-quotes__left .h2 {
  color: #f3f3f3;
  font-family: "SourceSansPro";
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
}
.team-quotes__left .p {
  color: #b2b3b3;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
}
.team-quotes__left .name-span {
  color: #b2b3b3;
  display: block;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.team-quotes__left .name-info {
  color: #b2b3b3;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.team-quotes__right {
  position: relative;
}
.team-quotes__right .img-imac {
  position: absolute;
  right: 10px;
  bottom: -220px;
}

.the-team {
  background-color: #f3f3f3;
  padding: 80px 0;
}
.the-team__top {
  text-align: center;
}
.the-team__top .p {
  color: #81868e;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  max-width: 400px;
  margin: 10px auto;
  letter-spacing: 0.7px;
}
.the-team__slider {
  padding-top: 50px;
}
.the-team__slider .slick-slider .slide-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.the-team__slider .info-block {
  text-align: right;
}
.the-team__slider .info-img {
  padding: 20px 0px;
}
.the-team__slider .info-block-container {
  position: relative;
  padding-right: 23px;
}
.the-team__slider .info-block-container::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 45px;
  background-color: #19bd9a;
  top: 8px;
  right: 0;
}
.the-team__slider .h3 {
  color: #464646;
  font-family: "OpenSans";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
  padding-right: 23px;
}
.the-team__slider .name-info {
  color: #81868e;
  font-family: "SourceSansPro";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  padding-right: 23px;
}
.the-team__slider .p {
  color: #81868e;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  max-width: 380px;
}
.the-team__slider .box1 {
  padding-right: 23px;
}
.the-team__slider .slide-one {
  outline: none;
}
.the-team__slider .slick-dots li.slick-active button:before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #19bd9a;
  border: 2px solid transparent;
  border-radius: 50%;
}
.the-team__slider .slick-dots li button:before {
  content: '';
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #19bd9a;
  border-radius: 50%;
}
.the-team__slider .slick-dots li {
  margin: 0 0px;
}
.the-team__slider .slick-dots {
  bottom: -50px;
}

.contact-sect {
  text-align: center;
  padding: 50px 0px;
  background: url("../img/contact-bg.png");
  background-size: cover;
}
.contact-sect .h2 {
  color: #ffffff;
  font-family: "OpenSans";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding-bottom: 30px;
}
.contact-sect .main-btn {
  border: 1px solid #fff;
  color: #fff;
}
.contact-sect .main-btn:hover {
  background-color: #FFF;
  color: #000;
}

.footer {
  text-align: center;
  padding: 40px 0px;
  background-color: #f3f3f3;
}
.footer .copyr {
  display: block;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  padding: 20px 50px;
}
.footer .soc-link {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  -webkit-transition: all .4s;
  transition: all .4s;
}
.footer .soc-link:hover {
  -webkit-transform: scale(1.2) rotate(0deg);
          transform: scale(1.2) rotate(0deg);
  -webkit-transition: all .4s;
  transition: all .4s;
}
.footer .soc-link:nth-child(1) {
  background: url("../img/footer-icons/facebook-icon.png") center no-repeat;
  background-color: #3b5998;
}
.footer .soc-link:nth-child(2) {
  background: url("../img/footer-icons/twitter.png") center no-repeat;
  background-color: #26a6d1;
}
.footer .soc-link:nth-child(3) {
  background: url("../img/footer-icons/in-icon.png") center no-repeat;
  background-color: #0e76a8;
}
.footer .soc-link:nth-child(4) {
  background: url("../img/footer-icons/instagram-icons.png") center no-repeat;
  background-color: #3f729b;
}
.footer .soc-link:nth-child(5) {
  background: url("../img/footer-icons/vimeo.png") center no-repeat;
  background-color: #86c9ef;
}

.contact-us {
  background-color: #f3f3f3;
  text-align: center;
  padding: 80px 0px;
  background-color: #F3F3F3;
  cursor: pointer;
}
.contact-us .h2 {
  margin-bottom: 10px;
}
.contact-us .p {
  color: #81868e;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  max-width: 480px;
  margin: 0 auto;
}

.contact-block {
  background-color: #fff;
  margin-top: 50px;
  min-height: 272px;
  max-width: 272px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  -webkit-transition: all .4s;
  transition: all .4s;
}
.contact-block:hover {
  -webkit-transform: scale(1.2) rotate(0deg);
          transform: scale(1.2) rotate(0deg);
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-shadow: #81868e94 0px 2px 12px 3px;
          box-shadow: #81868e94 0px 2px 12px 3px;
}
.contact-block .c-img {
  max-width: 100%;
  height: auto;
  position: relative;
}
.contact-block .h3 {
  color: #464646;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.64px;
}
.contact-block .p {
  color: #81868e;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding-left: 10px;
  padding-right: 10px;
}

.contacts-form {
  padding: 50px 0px;
}

.email-icon::before {
  content: "\e639";
  color: #fff;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  font-family: 'Pe-icon-7-stroke';
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40px;
}

.geo-icon::before {
  content: "\e6bb";
  color: #fff;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  font-family: 'Pe-icon-7-stroke';
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40px;
}

.phone-icon::before {
  content: "\e670";
  color: #fff;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  font-family: 'Pe-icon-7-stroke';
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40px;
}

.callback {
  margin: 0 auto;
  text-align: center;
}

.contacts-form label {
  color: #5b5b5b;
  font-size: 13px;
  letter-spacing: 3px;
  display: inline-block;
  margin-bottom: 10px;
  width: 260px;
  margin-right: 20px;
}
.contacts-form label {
  /* Firefox 19+ */
  /* Firefox 18- */
}
.contacts-form label ::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
}
.contacts-form label ::-moz-placeholder {
  color: #a9a9a9;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
}
.contacts-form label :-moz-placeholder {
  color: #a9a9a9;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
}
.contacts-form label :-ms-input-placeholder {
  color: #a9a9a9;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
}
.contacts-form label :focus::-webkit-input-placeholder {
  color: transparent;
}
.contacts-form label :focus::-moz-placeholder {
  color: transparent;
}
.contacts-form label :focus:-moz-placeholder {
  color: transparent;
}
.contacts-form label :focus:-ms-input-placeholder {
  color: transparent;
}

.contacts-form label:nth-child(4) {
  margin: 20px auto;
  width: 100%;
  display: block;
}

.contacts-form label:nth-child(3) {
  margin-right: 0px;
}

.contacts-form textarea {
  width: 100%;
  display: block;
  min-height: 190px;
  resize: none;
}

.contacts-form input {
  display: block;
  width: 95%;
  background-color: #fff;
  display: block;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  font-size: 15px;
  border: 1px solid #d8dce0;
  min-height: 40px;
}

.button-submit {
  display: block;
  cursor: pointer;
  width: 100%;
  min-height: 53px;
  background-color: #19bd9a;
  border: none;
  color: #ffffff;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.16px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.button-submit:hover {
  background-color: #1ca084;
  -webkit-transition: all .6s;
  transition: all .6s;
}

/*# sourceMappingURL=main.css.map */